[2013-08-26 19:53] damianavila opened #1 "I need tester and reviewers..."
This is the first version and I have a lot of to do yet... but it is usable ;-)

ping for code review (because you deal with js in the notebook everyday) @Carreau @minrk @ellisonbg

ping for usability (but if you want to review the code it would be awesome) @fperez @ivanov @takluyver @jdfreder @Zsailer

[2013-08-28 08:46] ronenabr opened #2 "Screen offset when running (sum of) the code"
Whe I run some of the code-blocks on your example, the display is pushed to the left:

![screenshot - 08282013 - 11 45 06 am](https://f.cloud.github.com/assets/4340718/1040691/2d4a33c0-0fbe-11e3-9753-5c0ec77f0c7e.png)

(Iceweasel\* 21.0)
Debian version of firefox.

[2013-08-28 08:48] ronenabr opened #3 "Screen offset after scrool down"
When I see a long slide, I have to scrool down to see it all. That's cool.

But If I scrolled down a slide, and then move to the next slide (by hitting space or arrow key) then the next slide is also scrolled down in respsct to it's original location.

Clearly, if the "next slide" contains less text, you may see just blank screen.

The behavior I think it should have: moving into new slide move to

[2013-08-28 09:19] ronenabr opened #4 "Youtube stop working when enter Reavel mode"
When I open the example notebook stight up, the youtube embeded video works grate.

When I see it on presentation mode, it's only a black square.
When I exit presenation mode, it's remain black square.
After refrash, I can play it again on the notebook.

(Iceweasel 21)

[2013-08-31 01:26] #4 closed, assigned to nobody

[2013-09-14 16:15] ronenabr opened #5 "Feture request: Hide IPython stuff"
Two things should be hidden when switch into "live reavel" mode:
1. The IPython toolbar. I assume it's there for the "exit from slides" button, but if there is another way to do that, it will be cool. Screen-space is expensive when showing slides.
2. Hide Cell Toolbar.

Personal note:
I just wrote 5 slides during the weekend and it's completely awesome!

[2013-10-01 14:39] pelson opened #6 "User interface questions"
Live reveal is so cool!
I've got a couple of questions/observations about the live reveal mode.
- [ ] Firstly, is there any `ctrl+m h` type help available for the reveal shortcut keys?
- [ ] Is there a way to enable or disable the slide mode via keyboard, rather than the button?
- [ ] Is there any way to hide the slide pane at the top of the reveal mode?
- [ ] Is there a quick way to flick between

[2014-05-31 02:38] #2 closed, assigned to nobody

[2014-06-02 02:17] #5 closed, assigned to nobody

[2014-06-02 03:03] #3 closed, assigned to nobody

[2014-06-30 01:15] #6 closed, assigned to damianavila

[2014-07-07 05:31] jni opened #18 "Add installation instructions"
The notebook linked to by the README seems pretty out of date... An install/uninstall script, and/or instructions to create a specific "reveal" profile that inherits from default, would be best!

[2014-07-08 03:45] #18 closed, assigned to nobody

[2014-07-15 01:58] damianavila opened #22 "Not working in Xubuntu"
The problem is described here: https://github.com/damianavila/live_reveal/issues/1#issuecomment-48981205

[2014-07-15 01:58] #1 closed, assigned to nobody

[2014-07-15 02:54] nlsn opened #23 "Some themes incorrectly have white backgrounds?"
Background color changes correctly for "sky", "solarized", and "blood".

Background is incorrectly white for "moon" and "night".

[2014-07-17 03:15] nlsn opened #24 "Hide or remove the vertical scroll bar?"
I think you said this could not be helped, but I find that the scroll bar on the right edge is useless and a distraction.

If there is a way to avoid it, I would like to use it.

[2014-07-17 22:14] #24 closed, assigned to nobody

[2014-07-18 19:04] damianavila opened #25 "Not working in IPython master..."
IIRC, with require.js something change in the way we load the extension in IPython master... I have to figured out the way... hint: https://github.com/ipython/ipython/issues/6116 and https://github.com/ipython/ipython/pull/6119

[2014-07-18 20:46] fonnesbeck opened #26 "Two "skip" cell bugs"
I'm running into issues with trying to "skip" cells in slideshows with `live_reveal`. First, if you try to skip the very first fragment (e.g. if it contains import statements, etc.), the cell is not skipped, and the state of the cell is switched to "slide" from "skip" automatically.

Second, and perhaps more serious, if you skip any other cell in the workbook and play the slideshow, the cell gets

[2014-07-21 02:56] fonnesbeck opened #27 "Exiting slide show returns to blank notebook"
A minor issue, but currently when you exit a slideshow, you are returned to a blank notebook. The browser has to be manually refreshed to show content.

Running current master on OS X 10.9.4, Python 2.7.6, IPython 2.1.

[2014-07-24 00:32] #26 closed, assigned to nobody

[2014-07-24 00:33] damianavila opened #29 "Enforce (or not) slide at the first cell"
From #26:

I'm running into issues with trying to "skip" cells in slideshows with live_reveal. First, if you try to skip the very first fragment (e.g. if it contains import statements, etc.), the cell is not skipped, and the state of the cell is switched to "slide" from "skip" automatically.
This is a design decision because a lot of people could forget to setup the first cell to show as an slide.

[2014-07-24 14:01] #27 closed, assigned to nobody

[2014-08-02 16:12] fonnesbeck opened #30 "Plain cell mistaken for fragment in slideshow"
When editing the slideshow cell types in `live_reveal`, several (but not all) cells specified as a plain cell (i.e. cell type blank) get interpreted as a fragment, and do not appear unless you press the spacebar. When the cells are first specified, it seems to work okay, but as you edit slides (particularly changing a cell above to be a "slide" or "sub-slide", the cells begin behaving as fragments

[2014-08-02 16:37] fonnesbeck opened #31 "Adding a new cell below the last cell in a slide causes blank slide show"
When attempting to create a cell to demonstrate code in a live slideshow, adding a cell below the last cell on the slide (via command-b) causes the slide to go blank. Subsequent forward or backward movement from one slide to the other also produces blank slides, and the only way to recover is to close the slideshow completely and restart it.

Creating a cell *above* an existing cell, or below a ce

[2014-08-04 15:47] jmshea opened #32 "Hide input cells"
It would be great if this had the ability to hide input cells, like you do for nbconvert here:

http://www.damian.oquanta.info/posts/hide-the-input-cells-from-your-ipython-slides.html

That would make the ability to mix hidden python stuff with purposefully displayed python.

[2014-08-04 16:01] jmshea opened #33 "When returning from slideshow mode, non-slideshow cells are sometimes not shown"
I'm on IPython 2.1.0, Google Chrome Version 36.0.1985.125

Sometimes when I return from RISE mode, I only see the cells that are not marked skip.  Exiting the notebook and reloading it reveals all of the cells again.  It may be triggered by creating a new cell during the RISE mode, but I haven't done enough testing to determine that yet.  I will post more if I figure out exactly when it occurs.

[2014-09-08 12:56] #33 closed, assigned to nobody

[2014-09-08 13:00] #25 closed, assigned to nobody

[2014-10-07 16:50] akloster opened #37 ""button_rise" is not defined"
In line 398 of main.js I get the error message "button_rise" is not defined.

https://github.com/damianavila/live_reveal/blob/master/livereveal/main.js#L398

I didn't find a button_rise function anywhere in this code. I may be missing something, otherwise I'd create a pull request with that line removed.

This is a very minor issue, of course...

[2014-10-16 15:28] mhardcastle opened #38 "Missing buttons?"
Great bit of code, I will be using it to teach a class on Monday!

One slight problem: my installation had no buttons, including the 'enter slideshow' button -- which fortunately showed up as a not-quite-invisible box. I am using IPython 2.3.0 and at first I thought the problem was the version check in main.js -- but even fixing that didn't solve the problem. Seems that I needed an installation of

[2014-10-16 15:38] #22 closed, assigned to nobody

[2014-10-23 17:51] sonicarg opened #39 "Per-Cell toolbar still active when presentation starts"
There is a slight problem when presentation is shown on screen with any per-cell toolbar active ("Edit metadata", "Raw Cell" or "Slideshow") that makes the toolbar to be drawn when presentation is executed. Doesn't happen on "None" setting.
Here's a screenshot of what looks like:

![image](https://cloud.githubusercontent.com/assets/5818365/4758153/edb221ee-5adc-11e4-87a9-25b244df5163.png)

[2014-11-03 00:51] jjconti opened #41 "Install for IRuby"
To make live_reveal work for IRuby, after install do:

~/.config/iruby$ cp -fr ../../.ipython/nbextensions/livereveal/ nbextensions/

This is because IRuby config files are placed in .config/iruby.

[2014-11-21 05:14] badbye opened #42 "change theme"
Hi, damianavila, thanks for your amazing tool.

I want to change default theme of transformation to "linear". I edit the custom.js file, and try to reinstall this library, but returns:

**custom.js entry already exists.**

what should I do? I also try to delete the files "../nbextension/liveshow"

By the way, I change the theme by this way is not elegant. What about adding some choice box in the c

[2014-11-21 05:20] badbye opened #43 "mathematics formula"
The mathematics formula in live_ reveal are ugly.

[2014-11-21 16:15] #43 closed, assigned to nobody

[2014-11-28 02:21] mwiebe opened #44 "issues on Windows"
Giving this a shot on Windows, but ran into a few issues. The rise profile didn't seem to have the live_reveal stuff in it, but that seems to be in the default profile. The notebook is written calling out to the posix shell. I patched it to use shutil, but it was still erroring. Here's the diff from the essential that notebook:

[code]

[2014-11-30 23:47] #38 closed, assigned to nobody

[2014-12-14 02:40] mwiebe opened #46 "display error on latest ipython master"
Tried live_reveal against the latest ipython master, and the reveal slides get rendered into a tiny sliver instead of the full browser window. Reverting ipython to a commit from a few days back fixed it for me.

[2015-01-05 14:32] twiecki commented on #46
Just ran into this same issue with most recent Jupyter.

[2015-01-05 14:44] damianavila commented on #46
Going to investigate today... I wanted a more "quiet" master before fixing it ;-)

[2015-01-05 14:45] twiecki commented on #46
Good luck! :)

[2015-01-12 03:10] eco32i opened #47 "Interactive widgets are messed up in the presentation mode"
![screenshot from 2015-01-11 22 02 34](https://cloud.githubusercontent.com/assets/4699600/5698524/b7b19e04-99dd-11e4-8fd0-d56a56aa8ce1.png)

Clicking on the widget controls sends me to the first slide.

The same widget works fine in the notebook.
IPython version 2.3.1

[2015-01-13 20:04] twiecki commented on #46
@damianavila sorry to be dense, but is there any progress? I need my live reveal! ;)

[2015-01-13 22:35] damianavila commented on #46
Sorry... I was busy with the Bokeh release... attacking this one tonight, I promise :-)

[2015-01-15 01:32] damianavila commented on #47
Can you post an example notebook to reproduce? Because I tried some other widgets and they was working OK. Thanks!

[2015-01-15 03:47] eco32i commented on #47
Here is an example: https://gist.github.com/eco32i/0c3dcffb9b8d0e2db766
Everything's fine in notebook but as soon as I go to the presentation mode (Alt-R) the DropdownWidget becomes messed up.

[2015-01-15 07:46] twiecki opened #49 "Can't pip install directly from repo"
[code]

[2015-01-19 21:50] bollwyvl commented on #49
Now that there is a "blessed" way to install [system-global](https://github.com/ipython/ipython/commit/8239237f4757f1991217b94f26381b794c12f4c8) `nbextensions` from `setup.py`, this is probably worth revisiting: a pip-installable option will likely continue to be preferable for many python users.

I'd also like to see the install-ability be improved from the command-line: I'd love to see it boil d

[2015-01-23 16:44] franktoffel commented on #44
I successfully installed it on windows few months ago.
What I did was to replace the bash commands by the windows cmd.exe one.

I am a newbie but this helped me:
https://github.com/mikecroucher/Windows_Scientific_Computing/blob/master/Powershell.md

I didn't know about shutil, though. It will be neat (when fixed)!

[2015-02-01 02:18] #46 closed

[2015-02-01 02:21] damianavila commented on #23
We can eventually ship some custom css to help the darker themes. I will open an issue for this general enhancement, close this one and make the corresponding reference.

[2015-02-01 02:21] #23 closed

[2015-02-01 02:23] damianavila opened #51 "Make sure we support all the reveal available theme"
Reveal support several themes by default, we need to make live reveal work with those, specially the darker ones... or at least provide a good tutorial about how to achieve the needed css changes.

[2015-02-01 02:39] damianavila commented on #29
Just to give an update, I still think the same about this, targeting to 3.x compatibility.

[2015-02-01 02:42] damianavila commented on #30
Just an update... I will test this again with master this week to see if I still can see the errors (since IPython/Jupyter changes a lot, and RISE make some changes accordingly, we have to check if the issues are still present).

[2015-02-01 02:45] damianavila commented on #31
As I said... inserting cells is not viable with this extension now... and make viable probably takes a lot of time and effort... so, closing for now... if someone have ideas or want to discuss further we can reopen it again. Thanks.

[2015-02-01 02:45] #31 closed

[2015-02-01 02:51] damianavila commented on #37
Probably porting the button_rise from my custom theme to RISE, targeting to 3.x compatibility.

[2015-02-01 02:54] damianavila commented on #39
As I said previously, this is interesting and useful... I will take a stab soon...

[2015-02-01 02:59] damianavila commented on #41
With IPython/Jupyter 3.0 the nbextensions folder has to be available to all the kernel using the kernel architecture (probably the first ones are not using the new architecture, I don't know the state of the ruby kernel).
I will close this one... if somebody needs the reference, it is available here despite of the close status.
Thanks @jjconti for reporting and make this info available for IRuby u

[2015-02-01 02:59] #41 closed

[2015-02-01 03:05] damianavila commented on #42
OH... sorry for never answering to your question... somewhat I missed this thread.

Yes, you could use `python setup.py install --develop` to link the `live reveal master` with the default profile for quick development...

Closing here because it seems you solve the issue... reopen it if it is not the case.

[2015-02-01 03:06] #42 closed

[2015-02-01 03:07] damianavila opened #52 "We need to support a multiplatform installation"
Some things to discuss/implement:

* [x] remove dual installation... just let the python setup.py
* [X] also support win
* [x] support pip install
* [x] conda package
* [x] local and system wide installation
* ~~how to deal with require in custom.js (I like the current solution although is hacky)~~

Other ideas welcome...

[2015-02-01 03:07] damianavila commented on #44
We need a real multi-platform installation, closing here in favour of #52

[2015-02-01 03:07] #44 closed

[2015-02-01 03:10] damianavila commented on #49
Closing in favour of a broad discussion about installation in #52. Feel free to add your thoughts there!!!

[2015-02-01 03:10] #49 closed

[2015-02-01 03:13] damianavila commented on #47
Just an update, I will explore this issue this week, sorry for the delay...

[2015-02-01 03:19] damianavila commented on #32
I not sure to ship this as default, maybe it can be a configurable option or use another "plugable" extension. There are other extensions making the same, ie: https://github.com/ipython-contrib/IPython-notebook-extensions/tree/master/usability/runtools,
Maybe we need just to adapt those solutions or, better, make them plugable to our system.

[2015-02-01 03:21] damianavila opened #53 "There is some issue with scrolling..."
* [x] grey background (check background on `.notebookapp`)
* [x] IPython.notebook.scroll_to_top does not work, use window(0,0) (see IPython slides)

[2015-02-01 03:26] damianavila opened #54 "2.4 compatible version and release a 3.0 compatible version"
* [x] Let's be sure that 2.x is still compatible with all the 2.4
* [x] Make master fully compatible with 3.0

[2015-02-01 03:27] damianavila commented on #52
* [ ] version number has to be standard, 3.x will be problematic, let's make it real and maybe turn into 0.3 and redo the previos releases as 0.1 and 0.2 (yes I know... it was a mistake trying to use 1.x, 2.x, etc)

[2015-02-01 03:39] damianavila opened #55 "Revisit configuration options"
Better way to pass a config object...

[2015-02-01 03:41] damianavila opened #56 "Make sure we use all the new potential behind the nbextension system"
A lot of things changed in the last months... we have to update the code to make it more compatible with the current possibilities of the nbextensions architecture...

[2015-02-01 06:39] bollwyvl commented on #52
Sheepishly, I must admit I did a bunch of [cowboy stuff](https://github.com/bollwyvl/live_reveal/tree/bridge-too-far) without doing incremental commits and changing too many names: it's kind of broken, but parts of it might be salveagable.

I kind of like what @takluyver did with [cite2c](https://github.com/takluyver/cite2c/blob/master/install.py). Frankly, I didn't even know `load_extensions` was

[2015-02-02 19:02] takluyver commented on #52
I have, for now, completely bypassed packaging systems in the cite2c install script, though that may have to change to handle the server side extension I've added recently. The load_extensions thing is nice because the install script can enable the new extension, but you can't do that as part of conda packaging or pip installation from wheels, because those can only place new files on the filesyst

[2015-02-02 19:25] Carreau commented on #52
Me. Just. Wow. O_O.

[2015-02-02 19:38] takluyver commented on #52
wow, yes, I hadn't even paid attention to that. Are all of the second row slideshow related, or are they various different extensions? Maybe we should consider an API to add icon+text buttons, because I wouldn't want to bet on what any of those added buttons do.

[2015-02-02 20:10] Carreau commented on #52
Because you think it's not already taken care of ?

Action = handler + icon + text + name

Toolbar = list of action.

Sprinkle with IPython magic and most things should work.
The only thing that I'm starting to consider is statefull action on/off (for now)

Of course some things above require custom code for dropdown :-)

[2015-02-02 20:19] takluyver commented on #52
But I think the text is help text, not something to put on a button. It would also be part of the toolbar API whether to display a button as icon, text or icon+text.

:sparkles: :sparkles: :sparkles: :snake:

[2015-02-02 20:20] Carreau commented on #52
Yeah, yeah, I think we probably want the menu to use actions before that, and add requested features one at a time.

[2015-02-02 20:23] takluyver commented on #52
Heresy! ;-)

[2015-02-02 20:35] Carreau commented on #52
- Developper add feature feature,
- Developper remove feature
- Developper release software to user.
- User destroy Developper,
- User add feature

Idea for [the rest](https://www.youtube.com/watch?v=KHGHkGmOmD4) ?

[2015-02-02 20:41] bollwyvl commented on #52
Yes: those are all [slideshow-level metadata](https://github.com/hakimel/reveal.js/#configuration).  The other option would be to have a big modal where all of this was defined, and only a single button.

I'd like a well-thought-out icon/text/icon+text mode of the toolbars as well, eventually.

Yes, please!

[2015-02-12 01:07] takluyver commented on #29
FWIW, I just ran into this and had a WTF moment - I wanted some imports at the top of the notebook so I'd remember to run them before going into presentation mode, but they would be hidden in presentation mode.

Though I can also see that it would be surprising if you went into slide mode and were missing content unexpectedly.

Perhaps automatically make the first cell 'slide' if it doesn't have a

[2015-02-12 01:07] takluyver commented on #30
I can reproduce this with IPython from current master.

[2015-02-12 22:32] takluyver opened #58 "note cells stay hidden after leaving presentation mode"
If I set some cells as notes using the cell toolbar, they are hidden when I switch into presentation mode (presumably usable with a speaker view), but they don't come back when I leave presentation mode. Refreshing the page restores them.

[2015-02-12 22:34] takluyver commented on #58
Also, and possibly related, cells marked 'skip' seem to come back at the top of the file regardless of where they were before.

[2015-02-12 22:42] takluyver commented on #58
OK, the problem with skipped cells is something I've introduced in the PR I just opened. The problem with note cells is in master, however.

[2015-02-12 23:14] takluyver commented on #55
I am happy to work with you on using the new frontend config system for this. That will make it require IPython 3, but looking at #54 I think that's your plan anyway.

[2015-02-12 23:24] takluyver commented on #47
I also saw this. It seems to be the styling of DropdownWidget in particular that goes wrong.

[2015-02-13 10:44] bulli92 opened #62 "Problem get it running ..."
Hi,

I'd love to use the dynamic ipython slideshow for my teaching.
I am therefore trying to get RJSE/RISE running in my ipython notebook (v2.4). I have however trouble with the installation. I tried two different approaches:

a) cloning the current repo and then running `python setup.py install`
--> to my underanding, this installs directly in the `ǹbextensions` folder

b) running the script `Ins

[2015-02-13 13:50] damianavila commented on #52
A lot of activity here... nice... some of my answers

NICE, I will take a deeper look on the weekend

Yep, I agree...

Yes, I thought about that in the past, the thing is find a way to make without messing the user with a high complex UI...

Yep

Yeah, it can be...

***********

Yep, that's is very interesting... I think a lot of us want to see it merged in Jupyter soon...

OK, both convinced me..

[2015-02-13 13:54] damianavila commented on #29
Seems a good compromise...

[2015-02-13 13:55] damianavila commented on #30
OK, I will try to reproduce it too... and the go for a fix... :wink:

[2015-02-13 13:56] damianavila commented on #58
OK, I will take a look at the PR...

[2015-02-13 14:02] damianavila commented on #55
Yes, I would love to see this solved by the new frontend config system... I have no problem to require IPython 3, as you said is on my plans... if the user wants to use the new feature, then IPython 3 is a must...

[2015-02-13 14:02] damianavila commented on #47
Yes, I saw this in the past, probably related with reveal css... I will investigate.

[2015-02-13 14:06] damianavila commented on #62
I have not tested the extension with 2.4.1 yet... maybe some change is need... there is currently a PR that's seems to make it work #57, but I have to check it yet... I will test this during the weekend and I will let you know...

[2015-02-13 14:16] bulli92 commented on #62
o.k., great, thanks for the fast reply. With which ipython versions did you work so far

[2015-02-15 01:50] #29 closed

[2015-02-15 01:53] #58 closed

[2015-02-15 02:46] #62 closed

[2015-02-15 02:47] damianavila commented on #62
Please, test master with the first installation option... not master is compatible with 2.4.1 too.

[2015-02-15 04:45] #53 closed

[2015-02-15 15:57] bulli92 commented on #62
great, seems to work for me now!

[2015-02-15 23:17] takluyver opened #66 "Start slideshow from selected cell"
From discussion on PR #65: it would be useful to have a feature where the slideshow can be started from the selected cell.

[2015-02-21 22:38] damianavila commented on #54
Since 2.x is compatible with IPython 2 series, there is no real need to maintain master compatible with 2.4, that introduces ugly hacks and since 3.0 is going to be released soon, let's make 3.x compatible wit IPython/Jupyter 3 series:

* [ ] don't support IPython 2 serie on master
* [ ] Release 3.x (when IPython 3.0 is released)

[2015-02-21 22:58] takluyver commented on #30
I think this should be fixed now that #65 is merged.

[2015-02-21 23:57] damianavila commented on #30
I agree... I can no longer reproduce the issue, so closing...
@fonnesbeck, please reopen it if you see the same behaviour again.

[2015-02-21 23:57] #30 closed

[2015-02-22 00:04] damianavila opened #68 "Migrate (if possible) the js-generated css from js to css"
Some things seems to does not work in css stylesheets, but those has to be the exceptions, let's migrate all the thing we can to proper css files...

[2015-02-22 00:54] #47 closed

[2015-02-22 00:55] damianavila commented on #47
OK, #69 should fix the issue... at least in my tests, please reopen if it is not the case... thanks for the report.

[2015-02-24 20:15] bulli92 opened #71 "Again problem with layout"
While the fix in #63 worked for my problem I had reported in #62, I have again problems with the current master.

When I switch to slide mode, the layout gets messed up as follows (see also screenshot):

a) the button to activate/deactive the slide mode just appears as a line
b) the toolbar remains visible
c) a footer bar is visible which should not be there
d) I can not swith back to the standard

[2015-02-24 21:00] damianavila commented on #71
If you are using IPython 2.4, just download the 2.x version of RISE: https://github.com/damianavila/RISE/releases/tag/2.x
and it will work.
To install it just follow this instructions: https://github.com/damianavila/RISE#manual-installation

I have tested RISE 2.X with IPython 2.4 and it is working OK. If RISE 2.x is not working well for you, let me know.

And to give you more context, currently R

[2015-02-25 07:26] bulli92 commented on #71
o.k., thanks for the feedback. I was not aware that the current master is supposed to work only with ipyhon master.
Makes sense. Will try with the tagged 2.x version and if it works I'll close this issue.

[2015-02-25 07:28] bulli92 commented on #66
I'd really appreciate a strat from the selected cell as well. This would be in particular usefull for longer presentations with many slides.

[2015-02-25 12:24] damianavila commented on #66
I think we have to provide a config option for both policies... I see values on both of them...

[2015-02-25 21:51] bulli92 commented on #71
o.k., works like you suggested.

[2015-02-25 21:51] #71 closed

[2015-02-27 13:26] #55 closed

[2015-02-27 14:43] damianavila commented on #56
* [x] frontend config
* [ ] system wide installation
* what else?

[2015-02-27 19:43] takluyver opened #79 "Should some slideshow options be embedded in the notebook?"
At present, theme and transition are user-local settings stored in frontend config. Possibly there should be a way of embedding information like this in the notebook metadata, where it would override the user config.

[2015-02-27 20:43] damianavila commented on #79
I agree... I thought about this before... we should find a way to provide the user with a nice UI in the notebook to config a lot of things... probably the notebook metadata is the place to embed this info... maybe under a slideshow_config key, or something else...

[2015-03-02 20:22] franktoffel commented on #52
I understand from the check-list at the top that it doesn't work on windows yet. Am I right?

Thanks

[2015-03-02 20:24] takluyver commented on #52
I think it should. Try it and let us know what happens!

[2015-03-02 20:34] franktoffel commented on #52
Windows 7, 64bit, Anaconda - conda with Python 3, IPython 3.0 (just updated) and I get this:

C:\Users\franz\Documents\IPython Notebooks\RISE-master> python setup.py
Traceback (most recent call last):
  File "setup.py", line 48, in <module>
    main()
  File "setup.py", line 43, in main
    install(use_symlink=args.develop, profile=args.profile,
AttributeError: 'Namespace' object has no attribute

[2015-03-02 21:41] takluyver commented on #52
I think you need to run `python setup.py install`.

[2015-03-02 21:47] franktoffel commented on #52
You are right! Doing that worked like a charm!

(I didn't know that... my apologies)

On Mon, Mar 2, 2015 at 10:41 PM, Thomas Kluyver <notifications@github.com>
wrote:

--

*Francisco J. Navarro-Brull*

[2015-03-02 22:02] takluyver commented on #52
That's OK. I'm not quite sure why it works like that, because there's nothing you can put after it except `install`. Maybe @damianavila is leaving room for future expansion.

[2015-03-10 01:45] dpsanders opened #80 "Don't show slide type box in slideshow mode"
Currently, when changing to live reveal mode, the slide type box is shown.
Could this be disabled by default?

[2015-03-10 01:48] dpsanders opened #81 "Unable to change style from Julia kernel."
I have tried to change the style from the Julia kernel via

[code]
(a direct translation of the Python code in the README),
but this does not seem to have any effect.

[2015-03-10 01:58] dpsanders commented on #81
Hmmm, it seems that the settings persist and reopening the notebook solves the problem.

[2015-03-10 01:58] #81 closed

[2015-03-15 11:29] damianavila commented on #52
In fact, this part was contributed from a user... probaby something like `python setup.py install` and `python setup.py develop` would be nice to have, and the `--[options]` for `profile`, and eventually other options...

[2015-03-15 11:59] damianavila commented on #80
This was reported here: #39
I guess it is sensible to do it by default, closing here as dupe, continuing the discussion there...

[2015-03-15 11:59] #80 closed

[2015-03-15 12:00] damianavila commented on #81
That's interesting... maybe it would be nice to add a note in the README, requesting PR :stuck_out_tongue_winking_eye:

[2015-03-16 23:07] quebbs opened #82 "HTML Table Formatting"
The formatting of HTML tables is adjusted between IPython and LiveReveal/RISE. This includes adjusted column widths, and text centering during the slideshow. Sample notebook below:

	{
	 "cells": [
	  {
	   "cell_type": "code",
	   "execution_count": 2,
	   "metadata": {
		"collapsed": true,
		"slideshow": {
		 "slide_type": "skip"
		}
	   },
	   "outputs": [],
	   "source": [
		"#Load\n",
		"from

[2015-03-19 11:16] damianavila commented on #54
OK, we need to release 3.x version soon... target is next week... I will review the open PR in the next days and testing over the weekend, then we can release a new version :wink:

[2015-03-21 17:36] damianavila commented on #82
Thanks for the report... probably conflicting css between the notebook and reveal.js... I will take a look as time permits...

[2015-03-21 17:44] #39 closed

[2015-03-21 17:53] #66 closed

[2015-03-24 03:39] juliohm commented on #79
Currently, what is the startup file responsible for theme configuration? I tried adding the code in the README under the `.ipython/profile_julia/startup/` directory but it didn't work. I think it's being executed before RISE, is that correct?

[2015-03-24 03:45] juliohm commented on #51
We cannot use the default reveal themes in RISE?

[2015-03-24 10:14] damianavila commented on #79
You only need to run the snippet of code in the [README](https://github.com/damianavila/RISE#configure-your-own-options) once... with a python kernel... or in any python interpreter (we prefer ipython ;-). This will generate a JSON file in your default profile which stores the config you want, check `.ipython/profile_default/nbconfig/livereveal.json`

So you have to be aware that:

1. Use the defa

[2015-03-24 10:17] damianavila commented on #51
Potentially, we can use any theme, it is configurable, check the README for more details... the only warning is that the "darker" themes usually need some custom css because the "whitish" nature of the notebook... conflicting with the "darkish" reveal.js themes.

[2015-03-24 12:16] flothesof commented on #54
Hi there,

I've just tried to install RISE and failed using the python setup.py install method.

The reason this happens is

[code]

I'm using IPython 2.4.1 and I guess this is the reason this hangs. Do I need to switch to IPython 3.0 to get RISE to work?

Thanks for your help.

[2015-03-24 17:18] juliohm commented on #79
@damianavila, thank you for the clarification. The file is created under `.ipython/profile_default/nbconfig/livereveal.json` but I cannot see any change when using the Python kernel and default IPyhon profile.

I passed a `profile` parameter to the `ConfigManager` but it doesn't affect the files under `.ipython/profile_julia/`. What I'm doing wrong?

[2015-03-24 17:53] juliohm commented on #32
What is the current state of this issue? I've installed the runtools plugin, but it's not exactly the same behavior as the `output_toggle.tpl`. For instance, we cannot click on the output during the presentation to see (and rerun) the code.

[2015-03-24 18:01] juliohm opened #85 "Undesired execution of cells with Alt + R shortcut"
I understood the `Alt+R` shortcut is a switch into presentation mode. It's actually running all cells when I press it. If I click the icon in the toolbar instead, the presentation starts without any cell execution as desired.

[2015-03-24 18:40] juliohm opened #86 "Option to hide RISE buttons in presentation mode"
How can I hide those `(X)` and `(?)` buttons in presentation mode?

[2015-03-24 19:13] takluyver commented on #79
I think you need to pass it a path to `profile_dir` instead of just a profile name. We're getting rid of named profiles when we split the notebook parts to the name Jupyter anyway.

[2015-03-24 20:06] juliohm commented on #79
Thanks @takluyver, I'm waiting for this transition to happen. The thing is that even for the Python kernel, the theme change is not taking effect.

[2015-03-24 21:42] takluyver commented on #79
How are you starting the notebook? If you're running it with the julia profile, it won't load any config from the default profile. Kernels do not affect this.

[2015-03-24 21:48] juliohm commented on #79
I'm starting the notebook as usual with `ipython notebook` assuming the default `reveal.js` themes are installed somewhere.

I can confirm the `livereveal.json` is under the `profile_default/nbconfig` directory.

[2015-03-25 03:08] nehalecky commented on #86
Along with @juliohm, I also am dying to know. Thanks!

[2015-03-26 11:29] damianavila commented on #54
This tagged/released version: https://github.com/damianavila/RISE/releases/tag/2.x, will work with IPython 2.x, but if you want to use master, you need to update IPython to 3.0 or higher...

[2015-03-26 11:32] damianavila commented on #32
Still on discussion... there are some issues about the hiding and that's why I prefer to make it configurable or "plugable", but I did not go forward with the implementation yet...

[2015-03-26 11:32] damianavila commented on #85
This is probably a bug... labelling as that, I will take a look...

[2015-03-26 11:35] damianavila commented on #79
Can you post the content of the `livereveal.json` file?

[2015-03-26 11:50] damianavila commented on #86
Modifying this https://github.com/damianavila/RISE/blob/master/livereveal/main.css file to hide the buttons... something along this lines

[code]

should work.

[2015-03-26 11:51] damianavila commented on #85
Well... I don't know... I don't see execution of cells with Alt + R, do you have any other extension doing that maybe?

[2015-03-26 11:52] damianavila commented on #85
Probably runtools?

[2015-03-26 12:25] flothesof commented on #54
Great! I'll try that out. Thank you!

[2015-03-26 12:39] flothesof commented on #54
I've just tried it out and it works perfectly. Thanks a lot.

The only thing I had a little trouble with at first was to find the right place to add the custom.js instructions too.

Great plugin!

[2015-03-26 13:28] damianavila commented on #54
Since now we use the ConfigManager there is no need for those instructions... it can be a little annoying at first sight, I agree... Nice to know it works well for you too. Thanks.

[2015-03-26 20:08] juliohm commented on #79
Sure, the content is:

[code]

[2015-03-26 20:11] juliohm commented on #86
Hi Damián, so there is no plan to add an option somewhere? Some may find
the buttons distractive.

[2015-03-26 20:15] juliohm commented on #85
Yes Damián, it's runtools that is causing the issue, could you please close
this thread?

Thanks.

[2015-03-27 19:36] damianavila commented on #79
Well, can you try with other theme like `sky` or `serif`, the black themes are not compatible with RISE yet beceause of conflicting css between reveal.js css and ipython css...

[2015-03-27 19:36] damianavila commented on #86
I guess we can probably add a config option for that...

[2015-03-27 19:37] #85 closed

[2015-03-27 19:53] juliohm commented on #79
It worked, what is the list of all available themes?

[2015-03-27 19:54] juliohm commented on #86
That would be great or rethink the size of the buttons.

[2015-03-29 01:14] banbh opened #88 "Explain how to configure theme in non-default profile"
The readme explains how to configure the theme via `ConfigManager().update('livereveal',...)`.  However it might be nice to mention how this interacts with profiles.  Perhaps something like `ConfigManager(profile_dir=locate_profile(get_ipython().profile))`.

The motivation for this is that when I installed livereveal I used the `--profile` option, but was then puzzled when the theme configuration

[2015-03-29 14:21] damianavila commented on #79
All the "whity" ones (simple, sky, serif, etc) should work without major problems... the "darker" ones needs probably some custom css to make them work...

[2015-03-29 14:23] damianavila commented on #88
You are right about this... can you submit a PR with this addition to the README? If you can't, I can do it later, but as you faced the problem, you will probably have the best words to explain it :stuck_out_tongue_winking_eye:

[2015-03-29 20:15] banbh commented on #88
Just created my first PR to close this.  In the end I made the change to the python code with no explanation in the text, as I felt that commenting on how ConfigManager deals with profiles would have been too much of a digression for a readme.  Feel free to tell me if you want explanation.

[2015-03-30 00:03] damianavila commented on #88
Thanks, I will comment one the PR itself...

[2015-03-30 00:05] #88 closed

[2015-03-31 12:39] ThomasA opened #91 "Up-/down-arrow navigation does not work in slideshow"
I have just tested RISE with IPython 3.0.0 and RISE cloned from commit d0a8fbd0d6355f6a9516fb9ecc6bdbdedd6b6e56. When I create a simple slideshow with a couple of slides and some sub-slides or fragments on the first slide, I cannot navigate between sub-slides or fragments using the up/down keys. Left/right keys work fine for navigating between slides. I have previously opened a static reveal slide

[2015-03-31 16:07] damianavila commented on #91
Up and down and not working in RISE by design... they conflict with the up/down actions in the notebook itself... so in RISE to go up/down you have to use pgup/pgdown or you can alternativate go forward/backward with spacebar/shift+spacebar.
If you click on the question mark, you will see the shortcuts used by RISE.

Cheers.

[2015-03-31 16:08] damianavila commented on #91
Maybe we can do a note in the README, PR accepted ;-)

[2015-03-31 21:52] ThomasA commented on #91
Thanks for clarifying.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-04-03 12:03] fpliger opened #95 "RISE should provide a mechanism to add custom.css"
The current possible solutions for this are:

1. the notebook css
2. the reveal.js css
3. https://github.com/damianavila/RISE/blob/master/livereveal/main.css

The last 2 are quite invasive and implies touching things that shouldn't be touched "frequently". The first is OK(ish) in the sense that someone could build ipynb profile "for presentation".

Maybe a rise.css placed in the notebook profile f

[2015-04-03 14:34] adl commented on #95
Another option is start the notebook with

    %%HTML
    <link rel="stylesheet" type="text/css" href="custom.css">

or in case it is just a style for the current notebook, an inline style:

      %%HTML
      <style>
          /* style for notebook and presentation */
          p { color: green; }
          /* style for presentation only */
          .reveal p { color: red; }
      </style>

[2015-04-04 22:46] #82 closed

[2015-04-04 22:47] damianavila commented on #82
@quebbs issue solved in #94 by @adl. Thanks for the report!

[2015-04-04 23:05] damianavila commented on #86
Now in master you have the `,` (comma) key to toggle on/off the buttons. Closing as solved.

[2015-04-04 23:05] #86 closed

[2015-04-04 23:38] damianavila commented on #95
Thanks for the suggestion @adl, but I feel that ones are still workaround... we need to provide a mechanism for styling customization... a `rise.css` could be a solution. We probably need to:
1. create an empty `rise.css` in `profile_whatever` at installation time (remember to not overwrite a previous `rise.css`). In case of no profile (default) just add it to `profile_default`.
2. load `rise.css`

[2015-04-05 00:18] damianavila opened #97 "Config option for width and height (resolution)"

[2015-04-05 00:19] damianavila opened #98 "Re-enable shift+enter going to next cell when you exit from RISE"

[2015-04-05 00:20] damianavila opened #99 "Support speaker notes"
Currently if you enable the speaker notes, you will see the notebook, not the slideshow. We need to support he slide mode in the speaker notes too.

[2015-04-05 00:20] damianavila opened #100 "Fix "big spaces" when execute code in slide show mode and go back to the notebook mode"
Annoying right now...

[2015-04-05 09:59] fpliger commented on #95
As an user I'd prefer @damianavila suggestion. That said, @adl is something already ready to use, so why not list it as a valid option?

There's also another evolution somehow related to customization. Let's say an user (like me jeje) wants to:

1. add a fixed elements to the presentation (i.e. a nice footer)
or

2. customize some behaviour/logic (like add new keybindings, etc..).

The solution no

[2015-04-07 12:26] jorisvandenbossche opened #101 ""Box" around markdown cells in slide show mode"
I used RISE to present last weekend, and I really like it!

But something that I noticed: markdown cells had a box around them in slide show mode  (both in firefox as in chrome, on linux), while I don't think this is intentional?

[2015-04-07 12:28] jorisvandenbossche commented on #98
I also noticed this: is it intentional for the live slide show mode? (to prevent jumping to next cells while presenting?)

If so, it is maybe worth adding a note about this in the docs.

[2015-04-07 12:31] jorisvandenbossche opened #102 "Let start_slideshow_at = 'selected' also exit the slideshow at the selected cell"
You now have the option of letting your slideshow start at the selected cell when going into slide show mode (https://github.com/damianavila/RISE#configure-your-own-options).

I wondered if it could also be an option (or combined with `start_slideshow_at`) to go to the selected cell when exiting RISE, instead of going back to the beginning of the notebook.

[2015-04-07 12:47] jorisvandenbossche commented on #52
As a windows report, `python setup.py install --develop` does not work:

[code]

But `python setup.py install` does. And for the rest this seems to work fine on windows.

[2015-04-07 12:48] jorisvandenbossche commented on #101
I don't have this issue on windows. Is there anything I could check to find the reason for this?

[2015-04-07 12:56] damianavila commented on #98
Yes, this is on purpose, because going to next cell conflict with the slideshow machinery: there is no problem as long as you go to the next cell from the last cell of the present slide, if that is the case,the notebook goes to the next cell, but not the reveal.js. This could be "potentially" solved in the future but it would need cross communication between IPython and the Reveal.js machinery, a

[2015-04-07 12:58] damianavila commented on #102
Probably easy to do, I marked as enhancement...

[2015-04-07 13:01] damianavila commented on #52
Yes, it is a know issue about the "symlink" in windowa... not sure if there is a simple solution, I did not have touched win for years... @takluyver any idea about win support in the `install_nbextension`?

[2015-04-07 13:03] damianavila commented on #101
This was fixed on master here: https://github.com/damianavila/RISE/pull/92

Btw, it is weird you did not see in on win... using IE or other browsers?

Please try master again and let me know if solve your issues... thanks!

[2015-04-07 13:05] jorisvandenbossche commented on #52
Ah, yes, the issue is here: https://github.com/ipython/ipython/issues/6239

[2015-04-07 13:06] takluyver commented on #52
No, I think `--develop` probably has to be unsupported on Windows.

If you use Python 3 and you have a special permission bit set, creating symlinks normally will work, but that permission bit is off by default, so it's generally easiest to assume that you can't create symlinks on Windows.

There is something called 'NTFS juction points' which works like symlinks for directories, but I don't know

[2015-04-07 13:06] damianavila commented on #95
I am delighted by the idea to have a rise.js too to hack on the js side... it crossed my mind several times in the past.

Not sure about that, maybe it is the path... probably I need a prototype to get a better idea/sense... so open your PR when you are ready to do it...

[2015-04-07 13:07] jorisvandenbossche commented on #101
Ah, I didn't see that one, sorry.
Regarding to the linux/windows, I installed it from master last week on linux, and only tried it today on windows, so that explains the difference :-)

[2015-04-07 13:07] #101 closed

[2015-04-07 13:08] damianavila commented on #52
Fine with me... you always can re-install... not as nice, but just a command to trigger... thanks for the additional info @takluyver

[2015-04-19 01:55] damianavila opened #105 "Add fullscreen "F" to the shortcuts help and maybe add a button"
The button would be located at the top right of the slide.

[2015-04-19 15:48] #97 closed

[2015-04-20 17:00] dartdog opened #106 "Slideshow button disappears when plugged into monitor 4x3"
Love the slides,, but when I went to present and plugged in my computer the little graph icon to switch to slide mode vanished, even after reboot I have  a 16x9 display (HDMI out) but the projector was 4x3 vga.. I noticed that Catherine Devlin experienced the same surprise in her Pycon lightning talk(presumably with a mac), I'm using Linux and Chrome..So I had to just walk through the notebook, no

[2015-04-20 17:03] dartdog opened #107 "Anyway to suppress Code in the cell?"
so just display the output on the slide? Often the audience may be non-tech and we mostly want to  show text and produced output? I can do this for pdf by using a no-code template..

[2015-04-20 17:20] adl commented on #107
There are some [notebook extensions](https://github.com/ipython-contrib/IPython-notebook-extensions) that do that.  Install either `usability/hide_input` or [`usability/hide_input_all`](https://github.com/ipython-contrib/IPython-notebook-extensions/wiki/hide_input_all) to hide one or all code cells.

[2015-04-21 02:56] dartdog commented on #107
On I Python/Jupyter 3+ looking at notebook extensions (Thanks for that pointer!) I see hide_input _all but no hide_input which I assume deals more on a cell by cell basis? So I gather not yet done, any hints how to do?

[2015-04-21 04:22] damianavila commented on #106
@dartdog, we just merge configurable height and width on master. Please check this section(at the end): https://github.com/damianavila/RISE#configure-your-own-options. That (and crtl +/- to zoom in/out) should solve any issue with different resolutions.

[2015-04-21 06:23] adl commented on #107
`hide_input` is not documented on the wiki, but the extension is present in the code with this exact name.  I'm using both.

[2015-04-21 10:04] torwag commented on #99
I would love to see a more flexible usage of the slide types, e.g. by letting people create their own slides-types. If slide-types could be assigned to certain views or exports, one could create a speaker slide type which will place additional infos to the speakers notes but not to the presentation slides.
Same would happen for PDF-type, HTML-type, etc. to export to PDF and static HTML

[2015-04-22 23:46] damianavila commented on #99
Yes, this is somewhat discussed in the past and probably we can provide something like that in the future... in the long-term I am thinking in some kind of jupyter slides package to enhance the notebook with all the slides-related things, including themes, aggressive customization, and some other cool stuff, not only in the static slides but also in RISE...well, we sill see how these things evolve

[2015-04-23 07:44] torwag opened #108 "place code output left, right or at a given coordinate on a slide"
It would be convenient to set the output location for the slides
Maybe using magic commands
%output_left
%output_right
%output_top
%output_pos(x,y,dx,dy)
The last one together with the hide source extension would allow us to arrange all kind of figures easily on a slide, e.g.. three graphs from three different (hidden) cells displayed in a row.
That would allow us to have much more freedom to arra

[2015-04-23 08:28] torwag commented on #32
As far as I understand, this issue and #107 should be merged

[2015-04-23 11:12] damianavila commented on #32
I agree... closing #107 to keep the discussion opened here...

BTW, in #107, two extensions were mentioned which provide the desired functionality. We should be able to build on top of that to use them as a "plugin" or in combination with RISE.

Additionally, I am thinking in a native config option to hide all the code cells (and maybe specific cells, but we should find a nice way to spell which c

[2015-04-23 11:12] damianavila commented on #107
Closing to keep the discussion centered in #32.

[2015-04-23 11:12] #107 closed

[2015-04-23 11:22] damianavila commented on #108
This is interesting... I am thinking on the "arrange" capabilities... I agree with you that right now is very limited to the linear top/bottom flow. But not sure about implement this as magic...
I am thinking in some other stuff. Currently there is way to make all the elements "dropable", I mean to give the user the possibility to move an order the elements in the slide as they wish. But the big p

[2015-04-23 20:03] bulli92 opened #109 "Fonts corrupted when offline"
Hi, I'm using RISE for my lectures at University and love it! One issue I encountered is that fonts are not displayed well when my computer is offline. I don't understand that behavior. Are any fonts loaded from the web on the fly?

I can understand that math is not rendered well in offline mode due to lack of mathjax, but this is different to the fonts themselves. The problem only occurs for Head

[2015-04-24 11:10] damianavila commented on #109
I will take a look... I presume is something affecting reveal.js but I have to investigate further. Thanks for the report.

[2015-04-27 15:41] roblem opened #110 "Keymappings and Presentation Remotes"
My presentation remote (Kensington Wireless Presenter with Laser Pointer) works flawlessly going forward or backwards through slides, correctly advancing through slide and sub-slide sections.

The problem is with the laser button (which is also designed to start a presentation in powerpoint): hitting that sends F5 (key 71) which reloads the webpage and kicks the presentation back into notebook mod

[2015-04-28 00:10] damianavila commented on #110
But F5 is 116... not 71... can you try disabling 116?
If it does not work, I guess this could be an option: http://stackoverflow.com/questions/2482059/disable-f5-and-browser-refresh-using-javascript

[2015-04-28 11:45] roblem commented on #110
Thanks Damian,

Despite `xev` reporting key 71 as F5, disabling F5 using code 116 as you suggest works.    So adding the following line to the keyboard section of main.js solves my problem and allows me to use the laser pointer without exiting the slideshow:

[code]

As an aside, the stop button on the remote sends `b`.  Pressing this button or pressing `b` on the keyboard when in presentation mod

[2015-04-28 16:06] damianavila commented on #110
Nice to know it is working...

Can you open an issue for this? ^^^

Thanks! Closing this one now...

[2015-04-28 16:06] #110 closed

[2015-04-28 17:15] roblem opened #111 "Pressing b inserts ipython notebook codecell when in livereveal"
Pressing b on the keyboard when in presentation mode inserts an ipython codecell, even with the b key disabled in the keyboard section of main.js.

This turns out to be a problem for me since my remote presenter device sends b on certain keypresses.  I have confirmed, however, that this issue is present even if only using the keyboard.

[2015-04-30 06:51] zer0n opened #112 "How to hide the close and question mark icons?"
I want to hide those icons during real presentations. How can I do that?

[2015-04-30 11:03] roblem commented on #112
When your presentation is running, press the comma key to toggle the help and exit icons on and off.

[2015-04-30 14:06] #112 closed

[2015-05-04 16:52] dzenny commented on #32
There is a hack (based on http://blog.nextgenetics.net/?e=102) which worked perfectly for my recent presentation, when I needed to restart my interactive widgets.
(All changes are made in \settings\.ipython\nbextensions\livereveal\main.js)

    87: function() {Reveal.toggleOverview();}, // w, toggle overview, W
    // after the line above insert the following
    67: function() {codeOnOff();}, //

[2015-05-05 16:51] damianavila commented on #32
Thanks for posting you experience...

[2015-05-15 18:16] yannpaul opened #113 "option to hide/show cell toolbar"
In #39 it was mentioned that having the cell toolbar was an issue in presentations, so #84 basically made it hidden for presentations. It would be nice to make an option for this a button, etc.

[2015-05-15 18:20] yannpaul opened #114 "hotkeys for slide type"
Does it make sense to have hot keys in command mode to change a cell's slide type. It would be useful in presentation mode, then you wouldn't need the cell toolbar (disabled currently). I propose that one sequence is used to cycle through the types, someting like Alt-s or Alt-t. And the cycling would not include 'skip', so you'd have to jump out of presentation mode or toggle the cell toolbar if t

[2015-05-17 13:50] mcrovella commented on #108
I want to support this general idea very strongly.    I have used RISE to teach a class, ie, give an entire semester's worth of lectures during Spring 2015 here at Boston University.   It worked very well.  The capabilities are outstanding and others are now interested in doing the same thing here at BU.   But the lack of an ability to arbitrarily arrange elements on the slide is the biggest barri

[2015-05-18 17:04] damianavila commented on #114
This is interesting... there is some complexity from the UI perspective about how to select the difference cell types... having shortcuts can help people... but there is some problems because to actually see the changes you have to go out presentation more and enter again... in any case, having shorcuts at "design" time instead of going to the celltoolbar for each cell is interesting.

[2015-05-18 17:05] damianavila commented on #113
Yes, we need to provide a config option to enable this...

[2015-05-18 17:07] damianavila commented on #108
@mcrovella, nice to know you are already using it :wink:
I think this the thing we are discussing here is a major challenge if we want to do it in the "right way", but if we can come up with something as I described above it would be amazing... I hope to I can start exploring some ideas soon (as time permits)... as usual, any kind of help is *very* welcome.

[2015-05-22 19:57] pdonorio opened #115 "Errors when trying to install on the latest jupyterhub in a docker image"
Hello,
i am trying to rebuild a notebook server with the necessary pydata stack (on python 2 kernel) installed via anaconda. I'd like to use this project to present slides directly via notebook.

I am using Docker, here it is the public image
https://registry.hub.docker.com/u/cineca/jupydatanb/

When adding the commands to install this plugin
(see the latest version of the dockerfile:
https://gith

[2015-05-23 12:51] pdonorio commented on #115
Update:

I made some heavy modifications.
Starting the image from ubuntu and using only conda the installations goes fine.
I also forked the project to update keyboard configurations
(is there a better way?)
https://github.com/cineca-scai/lectures/blob/docker/docker/notebook/Dockerfile

Here the link to the old version, based on jupyterhub project, which does not work:
https://github.com/cineca-sc

[2015-05-26 00:28] damianavila commented on #115
Lately, there was a huge splitting in the ipython repo... and AFAIK, jupyterhub uses the ipython before the splitting... so maybe this is the cause of the error you are seeing... it is something to investigate further. Thanks for the report.

(is there a better way?)

We are thinking in a way to provide some kind of customization, see the discussion here: https://github.com/damianavila/RISE/issues

[2015-05-26 07:03] pdonorio commented on #115
You are right, i can see in the official website http://ipython.org a stable (3.1) and a dev on github (4.0)

So the jupyter docker image is based on the dev version! And this is probably why we get errors about "deprecated" functions... Crazy!?!

Great, i will follow that issue then :+1:
Thank you!!

[2015-05-26 07:05] pdonorio commented on #95
+1 as it would help to create a custom configuration for reveal.js (e.g. keyboards shortcuts)

[2015-06-02 12:18] ThomasA opened #116 "Some Markdown headlines produce an unwanted scrollbar"
If I place a level 1 `#headline` alone in a Markdown cell, it produces a scrollbar on the right. It seems as if the cell is rendered a bit too low in slideshow mode.
![skaermbillede fra 2015-06-02 13 41 11](https://cloud.githubusercontent.com/assets/971307/7935541/1117dd32-0932-11e5-9f94-34b593f18e4c.png)

If I enter some more text in the cell below the headline, the problem disappears.

[2015-06-02 17:41] damianavila commented on #116
Yep, I saw this the other day... we should fix the css, probably an `overflow:auto` making trouble... I will research on it...

[2015-06-05 20:17] ThomasA opened #117 "RISE is not always enabled in notebooks"
I am sorry this is a very "fuzzy" issue description, but I have not yet figured out exactly what reproduces this.
I have a (somewhat largish) notebook that I successfully used to run a slideshow for teaching two days ago. Now, when I open the exact same file again, the "slideshow button" that usually enables slideshow mode simply does not appear. The only difference between now and then is that I

[2015-06-06 11:12] damianavila commented on #117
@ThomasA yes, if you can send me the two notebooks for comparison it would be great.
Also, please give me yout IPython.sys_info() too... thanks!

[2015-06-06 21:06] ThomasA commented on #117
I have now emailed you the files.

[2015-06-08 19:16] damianavila commented on #117
Thanks, I will try to take a look ASAP...

[2015-06-21 16:11] #116 closed

[2015-06-21 18:14] #106 closed

[2015-06-21 18:16] #115 closed

[2015-06-21 18:35] damianavila commented on #111
I would like to avoid messing with the notebook shortcut unless is strictly necessary.
You can solve your issue adding this line patch

[code]

In the future, we will provide some mechanism to add custom code to RISE, see #95

[2015-06-21 18:35] #111 closed

[2015-06-21 18:40] #37 closed

[2015-06-21 22:02] #100 closed

[2015-06-21 22:05] damianavila commented on #109
This happens upstream... on reveal.js itself... it should default to some readable font when there is no connection... we could think into provide these fonts if the default ones are not good enough. Changed to discussion...

[2015-06-23 17:58] macd commented on #117
I am seeing a similar issue.  On my local Ubuntu 14.04 I have installed RISE and it works fine when I start with "ipython notebook".  I installed it on a cloud instance which I set up to be an nbserver following the directions on the ipython site.  After starting up the server and connecting to it, I do not see the slideshow button.  The notebook is small.  Both versions are using the latest anaco

[2015-06-23 20:12] damianavila commented on #117
Should be the same... do you have any traceback from the js console??

[2015-06-24 05:36] macd commented on #117
Here is the output from the js console.  It is pretty opaque to me, hope it
helps you

rawcell.js?v=20150624053249:82 Raw Cell Format toolbar preset loaded.
slideshow.js?v=20150624053249:43 Slideshow extension for metadata editing loaded.
security.js?v=20150624053249:94 HTML Sanitizer th.style changed Object
security.js?v=20150624053249:94 HTML Sanitizer th.style changed Object
security.js?v=20150

[2015-06-24 13:21] damianavila commented on #117
Well, it is not loading RISE at all... can you prvide more info about:

1) How did you install the extension on the server??
2) the output for:

`ls -la $HOME/.ipython/profile_default`

and

`ls -la $HOME/.ipython/profile_default/nbconfig/`

You should see a livereveal.json file there.

Also give me:

`cat  /home/damian/.ipython/profile_default/nbconfig/notebook.json`

If you installed the extensi

[2015-06-24 15:54] macd commented on #117
Hi Damian,

Apologies... I totally missed the fact that I had to install RISE into a
profile.  I reinstalled
into the nbserver profile and now all is well.  Many thanks for your quick
help and
diagnosis.  I really appreciate it!

Best Regards,
Don

On Wed, Jun 24, 2015 at 6:21 AM, Damián Avila <notifications@github.com>
wrote:

[2015-06-24 16:30] damianavila commented on #117
Nice to know it is working... I will leave the issue opened because I have to dig in the @ThomasA issue yet... just trying to find some time to take a look...

[2015-06-25 03:58] damianavila commented on #117
@ThomasA, there is a timeout issue because your notebook are taking a lot to load... you can solve the issue adding this to your `custom.js` file... I mean, at `.ipython/profile_default/static/custom/custom.js` add:
[code]
Hope it helps!

[2015-07-06 15:01] bollwyvl opened #123 "enable bookmarklet use"
I've recently been doing yet more notebooks-as-slides advocacy, and love showing RISE.

Working with try.jupyter.org is a great way to give people a taste with no setup, but RISE obviously isn't available there. However, with just a bit of work, RISE could be made to work entirely off of rawgit as a bookmarklet

Here's my prototype:
[code]

Everything is super duper until the static locations for

[2015-07-06 16:54] damianavila commented on #123
Of course... the PR will be welcome :wink:

[2015-07-09 19:41] damianavila commented on #123
Done!! Thanks again @bollwyvl

[2015-07-09 19:41] #123 closed

[2015-07-11 01:28] bollwyvl opened #126 "Add a gh-pages branch"
On #124, we discussed adding to the doc, and a place for the bookmarklet to be hosted that doesn't require on any more third parties than necessary. gh-pages will host everything over SSL on a CDN and can be safely ignored once automated, being built every time you push to master/merge a PR. Hooray!

I can't PR yet, since the branch doesn't exist, but here's a [proposed approach](https://github.co

[2015-07-11 08:56] adl commented on #126
I would suggest not to use reveal.js for the documentation of RISE (at least not without some explicit action from the user), because that makes the documentation harder to read/browse/search (compared to a single, regular web page) and that adds all sort of accessibility issues.

For instance here is what http://bollwyvl.github.io/live_reveal looks like on Firefox 39 for android.

The first page

[2015-07-11 15:12] damianavila commented on #126
OK, the idea here is to have a sort of landing page, which right now is based on the README itself... but I think we have to split things:

* we need to have a nice landing page and having a reveal.js-based one makes a lot of sense.
* we need to actually have docs about how to use and customize this things... and that should be a simple HTML page which the landing one can reference...

And we have

[2015-07-11 15:36] damianavila commented on #126
@bollwyvl, I have created the gh-branch... so you can PR on it... and we can discuss which thing to keep on that and which ones port to a real doc...

[2015-07-11 15:52] bollwyvl commented on #126
perhaps have a single documentation page (a la underscore, backbone), but
prominently feature a reveal show generated by RISE in an iframe, which can
be fullscreened? i agree with alexandre that a reveal show is not the best
first experience for someone who wants to *author* one.

better still, we'd hack an iframe to actually crack open a live demo on
tmpnb... but that is a no-go unless we got thi

[2015-07-11 17:10] bollwyvl commented on #126
Re: screencast: those are hard to make! After finding byzanz, it took me about 100 tries to get this right, without typos, etc.

![](http://i.imgur.com/Pes3Uo3.gif)

I think it sums up the key things rise does in under 45 seconds :)

[2015-07-11 17:30] damianavila commented on #126
prominently feature a reveal show generated by RISE in an iframe, which can
be fullscreened? i agree with alexandre that a reveal show is not the best
first experience for someone who wants to *author* one.

Yep, sounds good...

Yep, completely agree... and you make a nice one!!

hacking on a thing where in one mode I expanded the notebook container to
full-bleed (container-fluid) and hid the tool

[2015-07-12 02:31] luctrudeau opened #127 "Print to PDF"
Reveal.js supports the following option :

_Open your presentation with print-pdf included anywhere in the query string. This triggers the default index HTML to load the PDF print stylesheet (css/print/pdf.css). You can test this with lab.hakim.se/reveal-js?print-pdf._

ref: https://github.com/hakimel/reveal.js/

I tried adding ?print-pdf to my ipnb url but it does not work.

I was wondering if it

[2015-07-15 15:07] bollwyvl commented on #52
This still isn't pip installable, even from `master.zip`. Perhaps using [jupyter-pip](https://github.com/jdfreder/jupyter-pip) would smooth it out? then eventually a pypi release...

[2015-07-15 17:13] takluyver commented on #52
The way things are moving with Python packaging (i.e. towards wheels), jupyter-pip is either going to break, or is going to increasingly need to circumvent the systems it. Looking at the code, I suspect it may already fail with pip 7. I don't think that's a good way to do things.

We're still trying to work out what extension packaging and distribution should look like. But one thing I think we're

[2015-07-15 19:12] damianavila commented on #127
It should be possible, and it fact, it should work... I will try to investigate soon.

[2015-07-15 19:26] damianavila commented on #52
I agree with @takluyver, I would not use jupyter-pip to do this... and, in fact, I am not sure we have to do a python package to install this... still thinking on it... why? Right now, we have a pure JS/CSS extension which only uses python to install/activate the thing... but, in the future, I would like to make all the component/objects "draggable" and persist that info in some way (so people can

[2015-07-15 19:32] bollwyvl commented on #52
jupyter-pip works great at this particular moment... [but not with wheels, indeed](https://github.com/jdfreder/jupyter-pip/issues/15). The point here is that a) RISE isn't packaged and b) can't be installed with pip, 7 or otherwise, and jupyter-pip would solve that immediately.

RISE is (really) a pure js (and css... and fonts... and images...) nbextension, and having even rudimentary support for

[2015-07-15 19:33] bollwyvl commented on #52
Is there already a (meta-)thread for the long-con of front-end packaging someplace?

[2015-07-15 19:53] damianavila commented on #52
We could use [flit](https://github.com/takluyver/flit) from @takluyver as well...
Did not tried yet but provides wheels support... @takluyver comments?

I don't remember if there is one... or just some discussions on the meetings...

[2015-07-15 20:23] bollwyvl commented on #52
If there was an entry_point for nbextensions, flit would be a good match, as I assume it handles those! But wheels vs bdist, like bower vs npm, give you no opportunity to run scripts after install.

Let's not do anything that breaks nbviewer :) What I mean is, markdown is the "presentation" cell type, so we should try to work within that. But departing from markdown would carry a cost: with [nb-in

[2015-07-15 20:32] takluyver commented on #52
If you want to make it installable with pip, you can use flit, but flit only makes wheels, and the tricks jupyter-pip does don't work with wheels. That's not just a bug with jupyter-pip: by design, wheels don't run code from the package at install time, so j-p can never work with wheels.

I'm inclined to agree with @damianavila that for things like RISE that don't involve any Python code, it would

[2015-07-15 21:28] bollwyvl commented on #52
So, google group thread? Issue on jupyter/jupyter? (I|J)PEP?

[2015-07-15 22:25] damianavila commented on #52
Probably a thread at the jupyter mailing list is a good place...

As for now, in the case of RISE, I understand @bollwyvl position about making it installable, and we probably need to be pragmatic and come up with something... I am thinking into make a conda package, for sure, because of the agnostic nature of conda... and probably use flit because if you installed jupyter, you probably have pip t

[2015-07-15 22:34] bollwyvl commented on #52
Will do!

Hooray conda. Will it enable it?

Unless we succeed in getting stuff into distros :) Still will have to manually install it... which is why I like the "hack" of jp's `cmdclass`...

If manual install is okay, still another option is publishing a zip of just the livereveal folder to gh-pages: one could then use:
[code]

[2015-07-15 22:44] takluyver commented on #52
Conda can install it (putting it into `{prefix}/share/jupyter/nbextensions`) should work, but it can't enable it: conda packages are similar to eggs in that respect, they are just a collection of files that get unpacked to the right location.

`ipython install-nbextension` (becoming `jupyter nbextension install`) also doesn't enable it. Although in that case it technically could, we've stuck to th

[2015-07-16 05:25] damianavila commented on #52
I think this is not entirely true... IIRC, you can add a post-script to your conda recipe to potentially *enable* things... let me find some link... ok, here: http://conda.pydata.org/docs/building/build-scripts.html

Sound interesting (although as I said before, this should be solved with a post script in conda).

[2015-07-16 07:03] juhasch commented on #52
In my conda nbextensions package I use a script to install files and also change the configuration. It should be even easier using the JSON instead of the PY configuration.

[2015-07-17 12:25] ghosthoughts commented on #117
I am facing the issue even after adding the timeout; I am sure the notebook loads well within the new timeout - 60 seconds.

Also, the button oftens appears. But a lot of times, it does not. I am using __Firefox__ if that is of any help.

The JavaScript console of Firefox records the following output __in case of failed load__:

    Using //@ to indicate sourceMappingURL pragmas is deprecated. Use

[2015-07-17 12:27] ghosthoughts commented on #117
I noticed another curious thing - this never happens in Chromium; the button appears at 100% success rate.

The output from JavaScript console from Chromium is:

    Default extension for cell metadata editing loaded.
    rawcell.js?v=20150717172845:82 Raw Cell Format toolbar preset loaded.
    slideshow.js?v=20150717172845:43 Slideshow extension for metadata editing loaded.
    security.js?v=2015

[2015-07-17 14:29] damianavila commented on #117
That's interesting... something to investigate further... thanks for all your test.

[2015-07-17 15:25] jhrsn commented on #117
I also saw the issue related to timeout with a large notebook, in Safari, Chrome, and Firefox. It was solved by breaking the notebook into smaller pieces. Thanks for the timeout fix, I'll give it a try.

[2015-07-17 15:56] jhrsn opened #129 "Code text cutoff on wide slides"
I'm sure I'm doing this incorrectly, but when I try to redefine the slide dimensions for widescreen display in the ConfigurationManager and/or set a wider % width for .container in a custom css, I can get almost what I want for all displayed elements except that code cell text in slides is cut off prior to the right edge of the displayed code cell, apparently at a set pixel width. This occurs only

[2015-07-17 16:00] ghosthoughts commented on #117
Ok. Surprisingly, IE worked quite well; the button appeared everytime. Along with it, I tested Firefox on Windows too, with same disappointing results - Quite a lot of times, Firefox failed to display the button with the same error.

So this indeed has something to do with Firefox.

About the size of the notebook, I used 5 varying sizes of notebook, one of which was empty. So I dont think size has

[2015-07-17 16:18] damianavila commented on #117
Thanks again.... can you also post your firefox version?

[2015-07-17 16:19] damianavila commented on #129
Can you post an image and probably the customization you are doing? Thanks...

[2015-07-17 16:32] ghosthoughts commented on #117
Its the lastest: `39.0`.

[2015-07-17 20:24] ThomasA commented on #117
I have not had time to try the timeout workaround yet, but I can confirm that I also experienced this issue in Firefox. My Firefox is currently 39.0 (Ubuntu) but may have been auto-updated since I last saw this issue.
I will try it in Chromium as well to see if that makes any difference.

[2015-07-18 03:11] jhrsn commented on #129
On Jul 17, 2015, at 12:19 PM, Damián Avila <notifications@github.com> wrote:

I’m interested in using ipython slides with wide format projectors, and also being able to display a bit longer lines of code in those displays. I can widen the cells in the slides by setting the width to higher pixel values. The content of markdown cells behaves as I would expect when I do that. The content of code cell

[2015-07-18 07:28] adl commented on #129
@jhrsn GitHub does not show any image in your last message.  I suspect it doesn't handle smail attachments.

[2015-07-18 12:46] jhrsn commented on #129
OK, let's try this again. I'm using ConfigManager as described previously to set slide widths. Below are three screenshots. The first is the notebook in normal display. The second is a slide with width set to 1024. The third is a slide with width set to 1360. Note that the markup cell becomes wider with the slide and its content uses the whole width. On the 1024 slide the code cell's text is cut o

[2015-07-19 18:06] takluyver commented on #52
Oh, neat. Then it should be possible to package frontend extensions as plain conda packages and enable them on install. And if I add an `nbextension enable` command, it will be even easier.

[2015-07-19 19:07] takluyver commented on #52
See jupyter/notebook#210

[2015-07-20 12:18] damianavila commented on #52
Great, so... probably the summary:

* (canocanical) Make a conda package with enable on install (one step procedure) and publish to anaconda.org
* (secondary) Make a flit-based package so people can get it on pypi too (two steps procedure: install and then user dependent enable it from the CL)
* (devs) Install from repo with setup.py

How does sound?

[2015-07-20 12:19] damianavila commented on #129
OK, now I understand the problem... probably a css thing to investigate further. Labeling as bug.

[2015-07-20 12:23] bollwyvl commented on #52
Sounds great. it will be even better to have "nbextension enable". The
issue over on the list has morphed into something far more terrifying, but
exciting!

On 08:18, Mon, Jul 20, 2015 Damián Avila <notifications@github.com> wrote:

[2015-07-20 12:36] damianavila commented on #52
exciting!

Yep, really exciting, I agree...

[2015-07-23 02:14] lengelhardt commented on #117
I am having the same issue.  I created a notebook last month that uses RISE for a presentation, and everything worked perfectly (using firefox).  I just tried using the same notebook today (again using firefox), and the slideshow button was gone.  In the meantime I had updated ipython, so I thought that might be the problem.  I tried opening the notebook using Chrome, and it worked perfectly.  I a

[2015-07-24 00:18] ymote opened #130 "Could not install RISE"
Hi,

I have problem installing the RISE. Here is the error info. Is there any updated setup script? Thanks.

root@9147d0f093b9:/home/RISE# python setup.py install
/srv/ipykernel/src/ipython/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved

[2015-07-25 00:42] damianavila commented on #130
I have a branch working with Jupyter but still not merged, you can check it here: https://github.com/damianavila/RISE/tree/update_jupyter

It will land soon... let me know any issues if you test this branch.

[2015-07-25 00:42] damianavila commented on #117
I will try to investigate during the weekend... thanks again for the info.

[2015-07-26 09:05] ymote commented on #130
It works now. Thanks.

[2015-07-28 15:46] whitews commented on #113
Hi Damian, having the cell toolbar would be useful for workshops and teaching. Is there a way to re-enable this manually?

[2015-07-29 13:05] damianavila commented on #113
You can do it removing stuff from the css... reverting the changes introduced here: https://github.com/damianavila/RISE/pull/84 should work. Still I think we need to provide a config option for this...

[2015-08-02 18:52] damianavila commented on #54
I tagged 3.x a few minutes ago... for Jupyter, we will have a proper release with conda packages,  a flit-based package too and the standard installation from source.

[2015-08-02 18:52] #54 closed

[2015-08-02 18:54] damianavila commented on #91
This info is already mentioned in the README, closing here.

[2015-08-02 18:54] #91 closed

[2015-08-02 21:12] damianavila commented on #130
Branch merged into master, closing here...

[2015-08-02 21:12] #130 closed

[2015-08-02 21:22] damianavila commented on #126
ping @bollwyvl, can you make the PR so we go ahead with this (I mean a slideshow with the RISElet).
I would like to have a very simple slideshow with ~3 slides and the RISElet in the last one.
We can use your branch as a starting point :wink:
Then (in another PR) we need a "real" docs page where we can include the gif and replace the README. It could be even a notebook since now it is rendered by

[2015-08-02 23:12] damianavila commented on #68
This is addressed in a good shape by #128

[2015-08-03 00:26] damianavila commented on #117
OK, I can replicate the issue in firefox, in Cromium works perfectly:

[code]

the problem seems to be here:
[code]

I think this could be related with this change: https://github.com/jupyter/notebook/pull/193

@jdfreder, @takluyver, @bollwyvl ideas are welcomed :wink:

[2015-08-03 17:01] takluyver commented on #117
I don't think it's related to that change, I think it's live_reveal attempting to set `IPython.notebook.get_cell_elements` to a new function that's causing the error. If I run this in the JS console, I see the same error message:

[code]

This appears to be a problem because we [seal](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/seal). This isn't new - we

[2015-08-03 17:16] startakovsky opened #131 "Module Import Error..?"
I seem to have an import error on this machine. When I do a `locate nbextensions` I see `IPython/html/nbextensions.py`.

How do I get this to work?

    vagrant@vagrant-ubuntu-trusty-64:~/RISE$ python setup.py install
    Traceback (most recent call last):
      File "setup.py", line 2, in <module>
        from notebook.nbextensions import install_nbextension
    ImportError: No module named noteb

[2015-08-03 17:16] takluyver commented on #117
I was hoping that using [preventExtensions](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/preventExtensions) instead of seal might make this work, but apparently not. I think the issue is that the method is part of the object prototype, not the object itself.

I've got it working by changing this:

[code]

To this:

[code]

I don't know what other implicat

[2015-08-03 17:25] startakovsky commented on #131
It seems to have worked just by copying the `RISE/livereveal` directory to my `.ipython/nbextensions`, thanks! Though this is still an issue I think.

[2015-08-03 18:05] damianavila commented on #131
Master is working with the jupyter notebook package, I guess you are using IPython 3.2.1 or older?

[2015-08-03 18:06] damianavila commented on #131
This remembers me I have to update the README with the branches for each version...

[2015-08-03 19:11] damianavila commented on #117
Booooo JS...

OK, I guess we should test it! Thanks for your feedback!

[2015-08-03 21:04] damianavila opened #133 "We need real docs, not just a README..."
The README should be just a simple entry point... right now it is our docs, we need to change this ASAP.

[2015-08-03 21:41] #131 closed

[2015-08-03 22:52] cfljam commented on #115
Im also struggling with this same error , building https://registry.hub.docker.com/u/cfljam/pyrat which depends on ipython/scipystack. It built OK last week, fails now.

[2015-08-03 23:34] damianavila commented on #115
The ipython/scipystack is using the 3.x release: https://registry.hub.docker.com/u/ipython/scipystack/dockerfile/

So you have to install the 3.x RISE branch: https://github.com/damianavila/RISE/releases/tag/3.x

Hope that helps... let me know if not...

[2015-08-04 01:40] cfljam commented on #115
Thanks!
Fixed by https://github.com/cfljam/pyRat/commit/46cb3f33a447a5373672d29cfdf2d07d241db8b1

and https://registry.hub.docker.com/u/cfljam/pyrat/ built OK

[2015-08-05 10:08] feiyuw commented on #117
I also met this issue, thanks @takluyver , your solution is OK for me.

[2015-08-05 13:58] damianavila commented on #117
OK, I will test it by myself (so we can have 3 positives) and make a PR if it is working OK...

[2015-08-05 14:35] #117 closed

[2015-08-13 15:07] pnugues opened #136 "Problems installing RISE on a macos"
Hello,

I am trying to install RISE on a mac and after one day of work, I could not succeed.

Here are my commands:
bash-3.2$ pwd
/Users/pierre/RISE-master
bash-3.2$ ls
README.md	livereveal	package.json	setup.py	src
bash-3.2$ sudo JUPYTER_CONFIG_DIR=~pierre/.jupyter/ python3 setup.py install
Password:
bash-3.2$ sudo JUPYTER_CONFIG_DIR=~pierre/.jupyter/ python setup.py install
bash-3.2$ jupyter
bas

[2015-08-13 15:44] flinz commented on #136
same problem here, OSX 10.10.3 and python 2.7.9.
I tried the manual installation as described too.

I suspect something might be screwy on OSX, since pip also created a directory ``~/Library/Jupyter`` with contents:
[code]

Any way to debug jupyter startup/see which extensions are found?

[2015-08-13 16:27] damianavila commented on #136
can you post the output from:
`ls -la ~pierre/.jupyter/`
and
`ls -la ~pierre/.jupyter/nbconfig`

[2015-08-13 16:47] flinz commented on #136
I'll take the freedom of posting mine too

``~/.jupyter/``
[code]

``~/.jupyter/nbconfig``
[code]

``more ~/.jupyter/nbconfig/notebook.json``
[code]

``~/.jupyter/nbextensions``
[code]

[2015-08-13 17:01] pnugues commented on #136
Here it is:
bash-3.2$ pwd
/Users/pierre/.jupyter
bash-3.2$ ls -ls
total 8
8 -rw-r--r--  1 pierre  staff   26 13 aoû 15:36 migrated
0 drwxr-xr-x  3 pierre  staff  102 13 aoû 15:42 nbconfig
bash-3.2$ pwd
/Users/pierre/.jupyter
bash-3.2$ ls -la
total 8
drwxr-xr-x    4 pierre  staff   136 13 aoû 15:42 .
drwxr-xr-x+ 152 pierre  staff  5168 13 aoû 16:42 ..
-rw-r--r--    1 pierre  staff    26 13 aoû 15:3

[2015-08-13 17:03] flinz commented on #136
@pnugues why did you close the issue? did you solve it?

[2015-08-13 18:54] pnugues commented on #136
no, I simply hit the wrong button.

[2015-08-14 13:02] damianavila commented on #136
Interestingly, in linux, the nbextension folder is located at `~/.local/share/jupyter/` and according to [this](http://jupyter.readthedocs.org/en/latest/system.html#envvar-JUPYTER_PATH) it should be in `~/Library/Jupyter` on Mac... maybe there it is the issue... can you move the nbextension folder to `~/Library/Jupyter` and try again? (remember to hard-reload the page or use "incognito" mode to av

[2015-08-14 13:17] flinz commented on #136
@damianavila this didn't seem to fix the issue, for me at least - still no slideshow button appearing.

[2015-08-14 13:24] damianavila commented on #136
OK, can you give me details on:

* Jupyter version
* Browser version
* JS console messages

Thanks!

[2015-08-14 15:14] pnugues commented on #136
Here are the versions:

pierre:~ pierre$ jupyter --version
4.0.2
My browser is Firefox 41.0b1 (I also tested it with Chrome and Safari and I could not see the RISE button either)

I am not sure how to get all the JS output.

Here are the commands:
pierre:~ pierre$ jupyter notebook
[I 17:02:39.531 NotebookApp] Serving notebooks from local directory: /Users/pierre
[I 17:02:39.532 NotebookApp] 0 acti

[2015-08-14 15:35] flinz commented on #136
Jupyter
[code]

Chrome
[code]

JS Console (Chrome gave no output at all, weird, so here is output from firefox ``33.0.3``)
[code]

[2015-08-14 16:31] damianavila commented on #136
OK... RISE is not loaded... now thinking about this... some days ago this was merged: https://github.com/jupyter/notebook/pull/251

But the fix is not released yet... so if you move the `~/.jupyter/nbconfig/notebook.json` into `~/.jupyter/` (one level up in you own jupyter dir) it should load fine, at least it worked for me (remember to hard-reload or use incognito).

Let me know if it helps...

[2015-08-14 16:46] flinz commented on #136
I can confirm that moving nbconfig.json up one level, as recommended, fixes the issue.
I can also confirm that installing the dev version from the github master (via ``pip install git+git://github.com/jupyter/notebook.git@master``) also fixes the issue via https://github.com/jupyter/notebook/pull/251.

[2015-08-14 17:26] kurt1984 opened #137 "No button appears"
Hi, I really like this add-on, however I cannot install it correctly.

git clone https://github.com/damianavila/RISE.git
python setup.py install

after that run Jupyter, the cell toolbar has slideshow option.

[2015-08-14 18:12] pnugues commented on #136
For me too, moving nbconfig.json up one level fixes the issue.

Thank you for your help and time.

[2015-08-14 18:12] #136 closed

[2015-08-14 18:25] sboisen commented on #137
My issue may be the same. I've installed the latest version of Jupyter (http://blog.jupyter.org/2015/08/12/first-release-of-jupyter/). Then i did:

* git clone https://github.com/damianavila/RISE.git
* cd RISE
* python setup.py install

There was a long sequence of messages like

    copying /Users/sboisen/git/etc/jupyter/RISE/livereveal/main.css -> /Users/sboisen/Library/Jupyter/nbextensions/live

[2015-08-15 15:12] damianavila commented on #137
You are probably hit by an upstream bug on Jupyter. Check this issue: https://github.com/damianavila/RISE/issues/136 for a temporary workaround until the next release of the notebook is out... let me know if that does not help.

[2015-08-16 16:47] MrOutis commented on #51
Can you describe this process?

[2015-08-17 01:55] sboisen commented on #136
Likewise, moving nbconfig.json up one level fixed my problem (which was no button to launch the slideshow display).

[2015-08-21 18:51] swnesbitt opened #138 "Enable scrolling using the config manager"
It would be nice to be able to easily select whether individual slides should be scrollable, global on/global off, etc.

[2015-08-23 01:55] damianavila commented on #51
You essentially need to change the less file overriding the specific attributes making the dark themes looks weird... probably some basic notebook "whithish" notebook css. I have done it in the past but right now the notebook has changed a little bit (and it will change even more), so I would need to actually do the process to give you a better answer...

[2015-08-25 10:17] jorisvandenbossche opened #140 "'b' to add new cell below does not work in last cell of the slide"
I noticed (using master + the patch to enable scrolling) that usin `b` to add a cell below when in slidemode does not always work properly:

- Using 'a' seems to work properly
- Using 'b' works as well when the selected cell (below which you want to insert one) is not the last visible cell of a slide
- When the selected cell is the last, 'b' does not work. The behaviour depends a bit on if scrolli

[2015-08-25 12:18] damianavila commented on #140
Check #31 and #111

It is a complex problem to solve because we modified things on the fly and inserting cells in the slide "limit" when you are in the slidemode is not automatically "translate" into the view, because you need to re-render the slideshow view and also you are somewhat corrupting the previous structure of the ipynb... reveal.js was done with "static" presentation on mind, so it is n

[2015-08-25 14:52] litaotao opened #141 "Feature: support looply, automatically play slides"

[2015-08-26 04:11] litaotao commented on #141
hi, there, just find the way to auto, looply play it

just need to config it , add two config key words:

autoSlide: 2000  # auto every 2 seconds

thanks again for creating such an awesome project

[2015-08-26 14:14] damianavila commented on #141
Yes, I know... but you probably needed to hack the source, we should provide an option for that... so let's get this open until we push a config option...

[2015-08-27 08:54] litaotao commented on #141
ok, that's would be nice, thanks

[2015-08-31 09:35] jorisvandenbossche commented on #140
OK, thanks for the explanation!

Closing then, as this seems a duplicate of the other two?

[2015-08-31 13:15] damianavila commented on #140
Let's reopen this because we probably need to think more in depth to figured out a solution if possible :wink:

[2015-09-01 13:02] pdonorio commented on #115
I also managed to make my new image with
pydata stack on python3/latest jupyter and this amazing plugin.

See: https://github.com/pdonorio/notebookers/tree/master/containers

[2015-09-05 14:56] elMor3no opened #142 "I can install Jupyter"
all the time i try to install:

$ python setup.py install

 i get:
Traceback (most recent call last):
  File "setup.py", line 2, in <module>
    from notebook.nbextensions import install_nbextension
ImportError: No module named 'notebook'

What i making wrong?

[2015-09-05 17:24] damianavila commented on #142
you need to have Jupyter 4.0 or above you probably have IPython 3.x version installed

[2015-09-05 18:56] elMor3no commented on #142
I have Python 2.7.9 and Python3.4 installed

I made all of this:

$ sudo apt-get install python3-pip
$ sudo pip3 install --upgrade "notebook"
$ jupyter nbextension install
$ python3 setup.py install

And the result is:
Traceback (most recent call last):
  File "setup.py", line 38, in <module>
    main()
  File "setup.py", line 34, in main
    enable=(not args.no_enable))
  File "setup.py", line 14

[2015-09-08 10:27] damianavila commented on #142
I think the problem is the mix of a system-wide installation and the local one on RISE.

Can you try this? (not using sudo)

`pip3 install notebook`

and then

`python3 setup.py install`

Let me see if you see any errors...

[2015-09-08 15:47] #138 closed

[2015-09-08 22:00] akloster commented on #32
So what is the canonical way to supress output now? I'm still relatively happy with my own solution because it is code-driven and saved inside the code cells, and shows up in the normal notebook mode.

[2015-09-09 16:10] mcrovella commented on #32
I have been (extensively) using your solution @akloster (updated to python 3) - I prefer being able to specify which code should be hidden in the notebook itself, and it also becomes possible to strip the code out of converted latex files easily when desired.

[2015-09-09 17:59] damianavila commented on #32
There is no a canonical way :wink: so it is nice to know the experience from others to see how we can implement this successfully and covering the more frequent use cases...

[2015-09-10 13:47] rabernat opened #143 "slides too wide, width config doesn't work"
Thanks for this very cool tool.

I am trying to learn to use RISE, and I am hitting a serious problem that I can't overcome. All my text and code are just too wide and don't fit on the screen in presentation mode. (See attached image.)

The obvious fixed seemed like the livereveal width parameter. I tried to follow the instructions
[code]
which placed some lines into ``.jupyter/nbconfig/livereveal

[2015-09-10 14:00] damianavila commented on #143
I have jupyter 1.0.0 and IPython 4.0.0. Any advice would be appreciated. I imagine this is related to, if not a duplicate of, #129.

I don't think so... I think you are hitting another bug. Which version of the notebook do you have?

If I am guessing correctly, copying the `.jupyter/nbconfig/livereveal.json` into `.jupyter/livereveal.json` should fix the issue... or updating your notebook to the l

[2015-09-10 14:00] rabernat commented on #143
I don't know if this is related, the markdown seems to be rending weird. The regular text is bigger than the heading

[2015-09-10 14:01] rabernat commented on #143
notebook.__version__ == 4.0.4

[2015-09-10 14:05] damianavila commented on #143
mmm...I will try to replicate... are you using RISE master? And the markdown thing is weird...

can you post the content of you `.jupyter` and `.local/share/jupyter` directories?

[2015-09-10 14:08] rabernat commented on #143
You want me to post the contents of all these files?
[code]

[code]

[code]

[code]

[2015-09-10 14:10] damianavila commented on #143
OK, maybe some collision between nbextensions... can you also post the content of you javascript console? Thanks!

[2015-09-10 14:20] rabernat commented on #143
Note that none of the other extensions are enabled. Here is my ~/.jupyter/nbconfig/notebook.json
[code]

Here is my javascript console
[code]

[2015-09-10 14:28] rabernat commented on #143
Based on playing around with with the javascript inspector, I have concluded that this is due to two css p
properties

- width: 105ex in text_cell_render and
- width: 115ex /* instead of 100%,; */ in text_cell
- font-size: 160%; in text_cell

[2015-09-10 16:24] rabernat commented on #143
Any thoughts on a quick fix for this? I have to give a lecture in 2 hours and was hoping to have it working...

[2015-09-10 16:52] damianavila commented on #143
I have tried locally and I can not replicate the issue... in the mean time, as a quick fix, you can always hack the `/Users/rpa/Library/Jupyter/nbextensions/livereveal/main.css` with the css properties you want

Another question: have you build the css as indicated here? https://github.com/damianavila/RISE#development

[2015-09-10 16:55] damianavila commented on #143
Can you post or give me the link to the notebook to also take a look? Thanks!

[2015-09-10 16:57] rabernat commented on #143
I just tried following the development instructions and building css. No change in behavior.

I was very excited about this but now am quite frustrated.

[2015-09-10 17:05] rabernat commented on #143
I just realized that there is a custom.css file being read somewhere. This might be a migration issue from when I upgraded from ipython.

[2015-09-10 17:07] damianavila commented on #143
I was suggesting that...

See below

![bari](https://cloud.githubusercontent.com/assets/1640669/9795095/20204f3a-57c5-11e5-8cd1-724e77b5deb1.png)

Did you find the custom.css file?

[2015-09-10 17:09] rabernat commented on #143
I fixed it!

It turns out that jupyter was reading my ipython profile configuration too (located in .ipython/profile_default/). I was mistakenly assuming that jupyter ignored this directory.

[2015-09-10 17:10] damianavila commented on #143
Glad it worked. Good luck with your lecture!!

[2015-09-10 17:28] rabernat commented on #129
Just FYI, I am experiencing this too.

[2015-09-10 17:29] #143 closed

[2015-09-10 17:30] damianavila commented on #129
Yep... it needs to be addressed... as usual struggle with time, but I will try to prioritize it... obviously, PRs welcome!! :wink:

[2015-09-15 05:34] 2grep opened #144 "No Enter/Exit button in Chrome (stable and dev)"
Similar to issues #136 and #137, no Enter/Exit button, but also, the ctrl-r doesn't work.

I'm running Jupyter 1.0.0, jupyter_client 4.0.0, jupyter_console 4.0.2, and jupyter_core 4.0.4. I have been using RISE for over a year and recently switched to Anaconda and took the opportunity to make the jump to Jupyter. I took the opportunity to also upgrade RISE. Now the Enter/Exit button has disappeared

[2015-09-15 12:02] laowantong commented on #142
I had the same error as _elMor3no_ on a fresh Anaconda installation. The following worked for me:

    pip install notebook
    jupyter notebook
    python setup.py install

The second command was needed to create the folder `~/.jupyter/nbconfig`.

[2015-09-16 14:14] damianavila commented on #142
@laowantong that's interesting... keeping opened until I check this is still the case on the latest release...

[2015-09-16 14:25] damianavila commented on #144
@2grep thanks for raising this... there seems to be several issue affecting us... but I guess this is chrome/chromium-related... since it is working in Safari according to you. Can you also test on firefox?
I will try to install the Chrome you are using and take a look... thanks!

[2015-09-16 21:00] 2grep commented on #144
Wow, been a while since I used Firefox! I can report I am *not* getting a Enter/Exit button in Firefox 20.0 or 38.0.5. The button is also only loading intermittently in Safari. But, right now, Firefox 38, Chrome 47, and Safari 8 are all looking at the same version of the same notebook, and only Safari is showing an Enter/Exit button.

[2015-09-17 04:26] damianavila commented on #144
OK, let's start again... and sorry if I am a little bit annoying...

[code]

then... `tree ~/.jupyter`, `cat ~/.jupyter/nbconfig/notebook.json` and `tree ~/Library/Jupyter/nbextensions`

then... start the notebook in incognito with the js console opened and paste all the js console output...

also... start the notebook with:

`JUPYTER_CONFIG_DIR=~/.jupyter jupyter notebook`

later... start the not

[2015-09-19 17:36] 2grep commented on #144
ok, will do, please don't close this, I'll shoot for some time this weekend or early next week.

[2015-09-19 22:52] damianavila commented on #144
Of course, I will not close... we have to figured out the thing...

Thanks for working on this...

I will check it, thanks again...

[2015-09-19 23:08] damianavila commented on #144
OK, I looked into your notebook.... first question, how did you install RISE?
ALSO... did you `git pull origin` before installing, or even better, what is the output of `git show`?

Because there is a missing file in your installation which let me think you maybe have an outdated codebase...

[2015-09-20 20:32] 2grep commented on #144
Thanks for taking a look.

Ok, I uploaded the raw contents of my test notebook again to [the same gist](https://gist.github.com/2grep/78bcc152b8513dbd0cbf), just updated with the output from the javascript console in incognito mode at the bottom, and the output of `git show`. My apologies for the formatting, I don't understand why github isn't formating raw cells correctly. But the javascript cons

[2015-09-20 22:33] kirbs- commented on #32
I created a notebook extension to hide code and the input prompts. A single click toolbar button hides all code cells and input/output prompts. Or you can customize what is hidden in each cell via a cell toolbar. As a bonus, it's pip installable. Check out [hide_code](https://github.com/kirbs-/hide_code).

[2015-09-20 23:25] damianavila commented on #144
OK, you have something in the custom.js file that probably is making trouble...
Can you post the content of `/Users/niels/.jupyter/custom/custom.js`
You probably have an old livereveal reference there... I am pretty sure if you remove that file (or the livereveal-related stuff), it should work... I hope :wink:

[2015-09-21 01:19] 2grep commented on #144
That was it!

[code]

[2015-09-21 01:33] damianavila commented on #144
Great!!
Thanks for let me know... I will close this one now, but this was really helpful to know exactly all the kind of info I have to ask for... probably I will write a little script to "diagnose" all these things. Thanks again!

[2015-09-21 01:33] #144 closed

[2015-09-21 05:51] mjbright commented on #144
Hi Damian,

I think there's need of more general checking of extensions or kernels ..

I mean that there should be some way that the notebook can read some sort
of manifest and check that the extension or kernel is OK.
On a WIndows PC, I have a few zombie kernel entries from failed attempts
(or rather "successful kernel installs" that don't work).

Just throwing this out there, I should probably o

[2015-09-21 12:04] damianavila commented on #144
Yep, we need to probably look into that in the near future...

[2015-09-21 12:09] damianavila commented on #32
Thanks fo the work and the link @kirbs- !!

[2015-09-21 20:50] mcrovella opened #145 "Switching from presentation to notebook mode requires page reload"
Hi, I've been using RISE for about 9 months now and it's great. However I've never been able to switch back from presentation mode to notebook mode without reloading the page. When I leave presentation mode using option-R I get just a blank screen, ie looks like this:

![image](https://cloud.githubusercontent.com/assets/5775205/10004641/c83f6598-6080-11e5-92e7-98721685be40.png)

This requires then

[2015-09-25 13:39] Gnimuc opened #146 "Any concise way to install RISE "globally" for Jupyterhub"
i want to install RISE for several users which is created by jupyterhub, those paths look like:

[code]

i can manually install RISE for those users by copying, for example, `/root/.local/share/jupyter/nbextensions` into `/home/foo/.local/share/jupyter/` firstly, and then running `JUPYTER_CONFIG_DIR=/home/foo/.jupyter python setup.py install`.

this is because each user created by jupyterhub has i

[2015-09-26 10:39] ndawe commented on #145
I have the same issue after upgraded Jupyter.

[2015-09-28 07:37] tschm opened #147 "Installing Rise with pip?"
Hi, I try to download and install Rise using pip (I would strongly prefer anaconda). Here's what I get...

Collecting git+http://github.com/damianavila/RISE.git (from -r /home/thomas/github/pymosek/requirements.txt (line 2))
  Cloning http://github.com/damianavila/RISE.git to /tmp/pip-KOo_6K-build
    Complete output from command python setup.py egg_info:
    usage: -c [-h] {install} ...
    -c: e

[2015-09-28 11:45] damianavila commented on #147
@tschm Currently working in a branch to get a pip installable thing and conda packages as well...
I will let you know when it is ready...

[2015-09-28 11:48] damianavila commented on #145
I was not able to reproduce it yet... @ndawe, if you have additional info besides what is was reported (specially any js console output if there is any), it will be welcome! Thanks!

[2015-09-28 11:56] damianavila commented on #146
We should enable an option to install in --user. We use `install_nbextension` under the hood so it is just a matter of provide that option... marking as enhancement...

[2015-09-29 02:17] ndawe commented on #145
Here is the only js console output:

![screenshot from 2015-09-29 12 14 01](https://cloud.githubusercontent.com/assets/202816/10153854/dccd4592-66a3-11e5-822a-49456c381a74.png)

[code]

Is that a problem? Should I uninstall ipython before installing jupyter? And then install RISE again?

[2015-09-29 02:19] ndawe commented on #145
Chrome version 45.0.2454.101 (64-bit)

[2015-09-29 02:27] ndawe commented on #145
After exiting the presentation mode, the URL is still something like http://localhost:8888/notebooks/tutorial.ipynb#/slide-0-0 and I need to remove the "#/slide-0-0" and reload.

[2015-09-30 01:49] damianavila commented on #145
Exactly the same Chrome version and I can not reproduce it... @mcrovella, @ndawe, do you see this alo in other browsers or just Chrome/ium?
Also, in the blank page you get after exiting RISE mode, can you show me the "Elements" inside the JS console? Something like this:

![ele](https://cloud.githubusercontent.com/assets/1640669/10182606/4b5f854e-66fc-11e5-82ff-e58f252caffb.png)

Thanks!

[2015-09-30 02:00] ndawe commented on #145
Strange. I'll get back to you with more details after tomorrow. I'm giving a presentation and I don't want to break anything now.

[2015-09-30 02:09] damianavila commented on #145
That's ok,good luck with your presentation!

[2015-10-03 22:10] mcrovella commented on #145
I have an update on this.

It occurs when I use 'transition': 'fade'

It does NOT occur when I use 'transition': 'zoom'

The contents of my `~/.jupyter/nbconfig/livereveal.json` are:

`{
    "theme": "beige",
    "transition": "fade",
    "start_slideshow_at": "selected",
    "scroll": true
}`

[2015-10-03 22:27] mcrovella commented on #145
Here is the screengrab of the JS console.

![image](https://cloud.githubusercontent.com/assets/5775205/10265395/5858c55a-69fc-11e5-8c8e-7ee306a4bf1e.png)

[2015-10-04 11:30] damianavila commented on #145
Oh... that could be a clue... let me investigate... :wink:

[2015-10-04 12:44] mcrovella commented on #145
Yes, fixes the problem for me!   Thanks!

[2015-10-04 23:36] ndawe commented on #145
Thanks! Fixed!

[2015-10-04 23:45] #145 closed

[2015-10-08 07:33] tschm opened #150 "Hiding Python code but not the output"
Hi, I want to hide some of the Python used to produce a graph but not the graph. Is there a way to achieve this?
thomas

[2015-10-08 09:24] debsankha commented on #150
There is an IPython notebook plugin for that:
https://github.com/ipython-contrib/IPython-notebook-extensions/wiki/Hide-Input-All

[2015-10-08 14:55] guidov commented on #150
This is also an very nice extension for this purpose and is easy to install:
https://github.com/kirbs-/hide_code

On Thu, Oct 8, 2015 at 5:24 AM, Debsankha Manik <notifications@github.com>
wrote:

[2015-10-08 17:07] fcremo commented on #95
I'm trying out RISE with the bash kernel and the solutions proposed here don't work (unless I'm missing something) because I can't execute python code to use ConfigManager to configure RISE.
I'm not sure but I think it would it be possible to put the configuration in the notebook metadata. That should work with every kernel.
There's still the problem of changing settings between different slides (

[2015-10-08 19:28] mjbright opened #151 "Print to PDF not applying theme"
I have RISE installed on a jupyter 4.0.4 installation on Windows8 (part of an Anaconda/Python3 installation).

I managed to print to PDF using instructions on your blog at
      http://www.damian.oquanta.info/posts/a-little-hack-to-get-a-pdf-from-your-ipython-slides.html
and inti pedrosos' ipy_hide_input  script.

However, the PDFs created have no theme applied (I select Sky in my livereveal.js).

[2015-10-08 19:35] mjbright opened #152 "No theme applied to jupyter notebooks running under VirtualBox (accessed via port forward)"
I'm using livereveal successfully under Windows, with themes working correctly.

However, I also have within a vagrant created virtual box
- a native (Anaconda/Python3) Jupyter
  The port 8888 is exposed outside VirtualBox as port 8880
- a Jupyter running under Docker (an image derived from jupyter/demo (docker-demo-images))
  The port 8888 is exposed outside Docker as port 8878 and then outside V

[2015-10-08 23:37] nicktimko commented on #142
Related: https://github.com/ipython/traitlets/pull/93

[2015-10-09 11:44] damianavila commented on #150
Additionally, the hide functionality seems to be finally approaching the notebook in the future... ref: https://github.com/jupyter/notebook/issues/534

Closing as duplicate of #32

[2015-10-09 11:44] #150 closed

[2015-10-09 11:45] damianavila commented on #32
FYI, we will have a native solution upstream soon: https://github.com/jupyter/notebook/issues/534

[2015-10-09 11:52] damianavila commented on #95
Yep, that;s reasonable....

In fact RISE, work with any kernel... it is kernel agnostic... only the installation is pythonic... but it can be installed in several ways and with several language, it is just a matter to write the tool to put the files in the correct places...

Can you start another issue where we can discuss non-pythonci alternatives installations? Thanks!

A config element in the n

[2015-10-09 11:53] damianavila commented on #151
I have not tested printing from RISE for some time... I will try to do it soon and give you feedback...

[2015-10-09 11:57] damianavila commented on #142
Yep, I think we can close this one...

[2015-10-09 11:57] #142 closed

[2015-10-09 12:03] damianavila commented on #152
Interesting...

Can you `ls` the `/home/vagrant/.jupyter` and `/home/vagrant/.jupyter/nbconfig/` and also post the content of the notebook.json and livereveal.json files?

[2015-10-09 12:14] mjbright commented on #152
Hi Damian,

Thanks, here's the files info.

Regards,
Mike.

vagrant@localhost ~ $ ls -altr /home/vagrant/.jupyter/

total 40

-rw-rw-r--  1 vagrant vagrant   105 Sep 26 19:28
jupyter_notebook_config.json

-rw-rw-r--  1 vagrant vagrant 19080 Sep 26 19:55 jupyter_notebook_config.py

-rw-rw-r--  1 vagrant vagrant    26 Sep 26 21:10 migrated

drwxrwxr-x  3 vagrant vagrant  4096 Oct  2 19:08 .

drwxr-x

[2015-10-09 12:22] mjbright commented on #152
Hi again,

I tried again, with --debug mode and I saw the following line:

[W 12:07:22.356 NotebookApp] 404 GET
/nbextensions/livereveal/reveal.js/css/theme/Sky.css?v=20151009120623
(10.0.2.2) 4.74ms referer=
http://localhost:8880/notebooks/Presentations/2015-Oct-17_Pyconfr_Pau_IPython_vers_Jupyter/2015-Oct-17_Pyconfr_Pau_IPython_vers_Jupyter.ipynb

Hmm, effectively I don't see that file under /ho

[2015-10-09 12:24] mjbright commented on #152
OK, looks like a CASE-typo in my original livereveal.json ... which of
course wasn't a problem under the toy Windows file system! but is on a real
file system.

/home/vagrant/.local/share/jupyter/nbextensions/livereveal/reveal.js/css/theme/sky.css

Thanks for getting me to think !
It's working now.

On 9 October 2015 at 14:21, Michael Bright <mjbrightfr@gmail.com> wrote:

[2015-10-09 12:25] damianavila commented on #152
Great!! Closing now...

[2015-10-09 12:25] #152 closed

[2015-10-09 14:24] fcremo opened #153 "Simplify configuration with kernels different from python"
Using RISE with the bash kernel I had trouble changing reveal.js configuration since AFAIK that requires running python code or manually editing `livereveal.json`.
Besides, having a single configuration file for all notebooks is not flexible.
I made a patch (https://github.com/fcremo/RISE/commit/c4cce3153f5cb0eedcf6cc88fabb523560027bbb) that adds the possibility of putting the configuration in the

[2015-10-09 23:35] damianavila commented on #153
The idea of a new slyde type is probably more difficult to implement because involves changes uptream... but the config patch you made makes sense as another entry point to config the slideshow... so I would be inclined to accept a PR adding this option...

[2015-10-10 08:23] mjbright opened #154 "Return to current cell in notebook mode"
There is a configuration element to start a slideshow from the current cell.

However when leaving slideshow mode the notebook always returns to the first cell of the notebook.
It should be a configurable to stay at the current cell.

[2015-10-10 08:33] mjbright opened #155 "Some form of slide sorting is needed"
When creating presentations with RISE I find it quite difficult to navigate amongst slides and in particular to move slides to a particular position in the presentation (added to which I believe the current 'move cell' icons in the toolbar are being taken away, and I never managed to use the keyboard shortcut).

Ideally it would be nice to have a graphical overview of slides with the ability to dr

[2015-10-11 23:44] robbyki opened #157 "ValueError: Expecting value: line 1 column 1 (char 0)"
Running into below traceback after running setup.py...

[code]

[2015-10-12 03:30] DavidPowell opened #158 "Full screen mode causes a black background under chrome"
Going into fullscreen mode in google chrome results in a black background, which makes black text rather difficult to read. This is due to an issue in reveal.js (hakimel/reveal.js/#1386), which has been fixed in master. However, upgrading the version of reveal.js shipped with RISE causes many other formatting problems.

My current workaround is to use firefox. In both cases, I am working under win

[2015-10-12 21:52] damianavila commented on #155
Currently in notebook master, the notebook allows you to move groups of cells, so the experience should be a little bit better in the future.
But that it is not a "design tool"... eventually we should be able to move elements in the slideshow view and that could potentially evolve in a design tool for the slides...

[2015-10-12 21:53] damianavila commented on #154
Duplicate of #102, closing here...

[2015-10-12 21:53] #154 closed

[2015-10-12 22:20] damianavila commented on #157
mmm... seems a problem upstream...

`traitlets` version? platform?

[2015-10-12 22:21] damianavila commented on #158
Thanks for the report, I have some branch updating reveal... this should be fixed soon.

[2015-10-12 23:41] robbyki commented on #157
Sorry. you are right. discovered today that for still unknown reason this is happening whenever I open a new notebook on Jupyter 4.0.6, on EC2 Centos 65 and Anaconda Py34. Not an issue with RISE; please feel free to close.

[2015-10-13 12:04] damianavila commented on #157
Thanks for the report, closing.

[2015-10-13 12:04] #157 closed

[2015-10-14 17:29] damianavila opened #159 "Cell toolbar selection will be moved to View menu"
https://github.com/jupyter/notebook/pull/527#event-434645112

Add a note at the README about that after the next notebook release.

[2015-10-15 00:02] damianavila commented on #153
Close by #156

[2015-10-15 00:02] #153 closed

[2015-10-16 00:34] DavidPowell commented on #147
I am also keen to get a one line installation solution based on pip or conda, because I am trying to include RISE into a docker image I am creating, which is currently a bit complex.

[2015-10-16 11:47] damianavila commented on #147
I know... I will be in vacation for a week, but I plan to deal with this when I come back...

[2015-10-19 19:31] ThomasA opened #160 "Trouble installing RISE"
I have previously had trouble with RISE (see #117) so now that I needed it again, I decided to install it anew.
I have created a fresh conda environment (using Continuum Anaconda) in which I try to install RISE. In am now running Python 2.7.10 with `jupyter-notebook` 4.0.6. I have pulled the latest version of RISE (latest commit is b6b197eef9b72fa0050f61b841da58377946229d). I have run `python setu

[2015-10-19 19:50] ThomasA commented on #160
Bonus info: it behaves the same if I try with Python 3.4.3 instead.

[2015-10-20 19:37] ThomasA commented on #160
Now I tried deleting `~/.jupyter/nbconfig/notebook.json` and the directory `~/.local/share/jupyter/nbextensions/livereveal/` and then installed RISE from scratch. It still does not work and complains about the same things in the JavaScript console.

[2015-10-20 20:04] ThomasA commented on #160
Maybe the `custom.js` that it seems to choke on is a left-over from an old install that I should delete?
I have now tried deleting `~/.jupyter/custom/custom.js`, but apparently this was not the `custom.js` being used. The JavaScript console still shows *some* `custom.js` choking on "livereveal.parameters is not a function", but how can I locate the `custom.js` script in use here?

[2015-10-20 20:11] ThomasA commented on #160
OK, found the error: I located and deleted the problematic `custom.js` in `~/.ipython/profile_default/static/custom/custom.js`. Now RISE is working again after another run of `setup.py`.
This confused me as I thought `jupyter-notebook` would only be using the configuration in `~/.jupyter` after the rename, but apparently it is picking up config from `~/.ipython/` as well.

[2015-10-20 20:11] #160 closed

[2015-10-21 12:06] TMorville commented on #147
Hi Damian, and thanks for the effort!

I am on the same wagon. After switching from Canopy to Anaconda (to get Python 3.x) I am getting used to installing with conda.

If i use python setup.py install RISE does not seem to get registred in the Anaconda environment, even though my "which python" points to the anaconda bin.

Anyway, a conda compatible installation would be great! Looking forward to

[2015-10-21 12:37] LuisSoares opened #161 "liverreveal CSS location"
Hi Damian,

First congratulation on the great tools.

I have a problem finding the CSS files for the livereveal, I am working on a windows machine and ever since the migration from Ipython to Jupyter there seems to be a bunch of directories that contain the code for the reveal.js used on the notebooks therefore I don't know which instance of the code is being used by RISE. Do you happen to know a

[2015-10-21 12:51] mjbright commented on #161
Hi,

On my Windows 8, the reveal.js files are here:

/C/Users/mjbright/AppData/Roaming/jupyter/nbextensions/livereveal/reveal.js

Hope that helps,
Mike.

On 21 October 2015 at 14:37, Luis Soares <notifications@github.com> wrote:

[2015-10-21 13:27] LuisSoares commented on #161
Hi Mike

Thanks for the help. You are right the livereveal files are in that folder (I checked and deleting it removes the extension). I still have the problem that changing the CSS for a specific theme does not seem to change the display, I'll have to look further in how to customize the theme CSS.
Thanks,
Luis

[2015-10-22 12:18] hakanjonsson commented on #99
How do I enable speaker notes?

[2015-10-26 19:20] damianavila commented on #99
Currently not supported.

[2015-10-26 19:35] damianavila commented on #160
Sorry to not attend on this... I was on holidays for a week, nice you find the issue! Thanks!

[2015-10-26 19:39] damianavila commented on #161
@LuisSoares, you prbably need to modify this file for further customization: https://github.com/damianavila/RISE/blob/master/src/less/main.less and recreate the css file as described here: https://github.com/damianavila/RISE#development

It could be some issues when you try to modify reveal specific things... let me know if you get stucked...

[2015-10-29 02:06] bs1234 opened #162 "Size of bokeh charts when converted to slides"
Bokeh charts appear in full as a notebook but when converted to slides only a portion of them appear (together with a scroll bar to see the remainder)

This might be due by my ignorance (I only recently discovered Jupyter & RISE) or a real issue.

See here: http://stackoverflow.com/questions/33400539/full-size-bokeh-charts-as-jupyter-slides?noredirect=1#comment54593638_33400539

An example .ipynb

[2015-10-29 20:30] mjbright commented on #162
Hi,

You can create a public gist here: https://gist.github.com/
and then link to that.

Regards,
Mike.

On 29 October 2015 at 03:06, bs1234 <notifications@github.com> wrote:

[2015-10-30 02:41] bs1234 commented on #162
Many thanks Mike

A link now added to original comment (gist via nbviewer)
Hopefully that works and  helps explain the situation.

As I said, it could well be my ignorance as opposed to an issue!

[2015-10-30 15:35] damianavila commented on #162
Thanks for posting this... I will take a look in the next few days... probably it is caused by css from different sources conflicting...

[2015-10-30 16:06] bs1234 commented on #162
Some more info that may be of some use:

1) I have managed to get my bokeh chart to show in full with the code below.
**BUT** : the change in slide width only takes effect AFTER the notebook is shutdown and restarted.

    from notebook.services.config import ConfigManager
    cm = ConfigManager()
    cm.update('livereveal', {
              'width': 1150,
              'height': 1024,
    })

2) T

[2015-11-06 15:49] bs1234 commented on #127
I am also interested in this

What is the easiest way to print to pdf for slides created via RISE?

I try the following: jupyter ipnyb -> slides (via rise) -> print to pdf (using chrome print options)

However, result is: only the _currently active slide is printed_

Any advice for simplest way to convert slides to pdf?

[2015-11-06 19:49] ijstokes opened #163 "Does this work with Jupyter 4?"
The steps work to install RISE, but it doesn't look like it shows up in my Notebook. Just wondering if this is something that should work or might work at some point in the future.

[2015-11-06 19:54] ijstokes commented on #163
Should have searched existing issues. #160  addressed my issue.

[2015-11-06 19:54] #163 closed

[2015-11-06 19:54] bs1234 commented on #163
I'm using Jupyter 4.06 and work ok for me.

Probably superfluous but need to shut down and restart the notebook ;)

Details:
The version of the notebook server is 4.0.6 and is running on:
Python 3.4.3 |Anaconda 2.0.1 (64-bit)| (default, Mar  6 2015, 12:06:10) [MSC v.1600 64 bit (AMD64)]

[2015-11-07 02:40] ijstokes opened #165 "Add a license file"
It appears this is released under modified BSD, but it would be nice to have a top level `LICENSE` file in the repo to make it more obvious.

[2015-11-09 09:59] pmjandreen opened #166 "Vertical centering seems impossible to disable from Rise"
Reveal has the following option for choosing vertical alignment style:

[code]

I find that when I try to set center to false using Rise it has no effect (I tried both ways of configuring Reveal from Rise).

[2015-11-09 12:19] nusselt85 opened #167 "Add a backgroung image to the slideshow"
Is it possible to add a background image for the slideshow?
In reveal.js the data-background="image.png" is used but I have not be able to make it work

[2015-11-09 13:21] damianavila commented on #167
It should be possible but you probably need to hack on the source code... we did not provide data-background capabilities yet...

[2015-11-09 13:23] damianavila commented on #166
It could be some problems with the notebook css... this need to be investigated...

[2015-11-10 13:21] damianavila commented on #165
:+1:  Thanks for opening this one...

[2015-11-10 13:25] damianavila commented on #127
Any advice for simplest way to convert slides to pdf?

Probably using nbconvert and then `print-pdf` as stated here: https://github.com/hakimel/reveal.js#pdf-export, BUT I did not checked it lately... and usaually pdf exportation for reveal have problems (not sure if it is stable now, I have to check).

[2015-11-12 18:28] ericmjl opened #168 "Proposal: Make RISE part of jupyter?"
I'm not sure what you think about this, @damianavila, but would it make sense to make RISE distributed with Jupyter by default?

[2015-11-13 14:07] damianavila opened #169 "versioning..."
We need something to track dev versions and official releases...

[2015-11-14 00:49] damontallen commented on #146
Is RISE not compatible with the current release of IPython?  I followed the installation instructions in the README and got,

    Traceback (most recent call last):
      File "setup.py", line 2, in <module>
        from notebook.nbextensions import install_nbextension
    ImportError: No module named notebook.nbextensions

or is there something missing from the instructions?

[2015-11-14 02:33] Gnimuc commented on #146
@damianavila are you using python3? if so, try running `python3 setup.py install`.

[2015-11-14 10:45] damianavila commented on #146
It should be... the current release of Jupyter have the notebook package, so you should not have an error like that in the current stable release, check here: https://github.com/jupyter/notebook/blob/master/notebook/nbextensions.py

@damontallen Do you have the `notebook` package installed?

[2015-11-14 10:46] damianavila commented on #146
@Gnimuc yes.. why?

[2015-11-14 10:48] Gnimuc commented on #146
@damianavila sorry, I just mistakenly @ you :D

[2015-11-14 18:43] damontallen commented on #146
@damianavila <https://github.com/damianavila> Sorry, I just tried python
2.7.  Python3 seems to have done it.  Thank you for all your hard work.

On Fri, Nov 13, 2015 at 9:33 PM, Gnimuc Key <notifications@github.com>
wrote:

[2015-11-17 17:26] damianavila commented on #146
You are welcome!

[2015-11-24 16:48] aaronbarzilai commented on #127
Damian,

I'd love to make this work too. I tried to use your instructions above but I'm not sure I'm following.  What are the steps needed if I have a notebook on my windows box at "C:\MyDir\MyNotebook.ipynb"?

[2015-11-24 17:56] aaronbarzilai commented on #127
I managed to figure it out after more testing, thought I'd leave the instructions here:

1. Generate the slides and serve them using nbconvert:
jupyter nbconvert --to slides "C:\MyDir\MyNotebook.ipynb" --post serve
2. It opens up a webpage for me in my browser at:
http://127.0.0.1:8000/MyNotebook.slides.html#/
3. Add print-pdf to the querystring as
http://127.0.0.1:8000/MyNotebook.slides.html?prin

[2015-11-24 19:32] damianavila commented on #127
Thanks for the detailed step @aaronbarzilai
Can you tell me which Chrome version are you using?
Are the pdf respecting correctly the slide limits?

[2015-11-24 19:52] bs1234 commented on #127
@aaronbarzilai thank you, thank you!.

Im still struggling with this. I get the error below when i try to follow your steps, is there something obvious I should check or configure (im not familiar with nbconvert)

OSError: [WinError 10048] Only one usage of each socket address (protocol/networ
k address/port) is normally permitted

[2015-11-24 20:06] aaronbarzilai commented on #127
Version 46.0.2490.86 m
I'm on Windows 7 still.

As far as I can tell it is respecting the slide limits, but I'm just
getting started with RISE so I am not sure I've fully explored that.

Thanks,
Aaron

On Tue, Nov 24, 2015 at 2:32 PM, Damián Avila <notifications@github.com>
wrote:

[2015-11-24 20:12] aaronbarzilai commented on #102
+1, I was just about to make the same request when I found this thread

[2015-11-24 23:13] bs1234 commented on #127
I was receiving this error: "[WinError 10048] Only one usage of each socket address (protocol/network address/port) is normally permitted"
And it turns out the default IP and port 127.0.0.1:8000 were already being used by something else.

So, inspired by this issue, https://github.com/jupyter/nbconvert/issues/102#issuecomment-140565165
I changed the default IP address in serve.py from 127.0.0.1 to

[2015-11-25 15:46] bs1234 commented on #168
+1

[2015-12-02 13:17] damianavila commented on #168
From the Jupyter perspective, we (as a jupyter dev) have a high threshold to integrate something into the core... and we are splitting thing instead of integrating... what I have to do here is offer good ways to install RISE quickly w./ major issues... and I am actually working  on that (in some chucks of time).

[2015-12-02 13:34] ericmjl commented on #168
Thank you for all of your efforts, Damian! Please let us know if there's
some way we can help :)
On Wed, Dec 2, 2015 at 8:17 AM Damián Avila <notifications@github.com>
wrote:

[2015-12-03 16:15] jcrichard opened #171 "RISE fonctionality"
Is it normal that function like pause (when press B) or the view (when press ESC) and so one are not available with RISE like it is with static nbconverter ?

Thanks

[2015-12-03 16:55] btengels opened #172 "Editing livereveal in notebook metadata"
Trying to add the following snippit to the metadata

    "livereveal": {
        "theme": "sky",
        "transition": "none"
    },

But nothing changes. In fact, it doesn't matter what the 'theme' or 'transition' values are set to. Tested in Chrome and firefox. Pasted right before the "kernelspec" block as suggested in the readme.

btw, Damián this project is really the greatest. Bien hecho.

[2015-12-03 19:09] bs1234 commented on #172
I found a similar issue with transitions and width / height as well.
In case it helps you: when i shutdown my notebook and restarted the changes were in effect.
Might or might not be similar for you. Might or might not be something to do with caching.

[2015-12-03 20:17] damianavila commented on #172
yep, caching could be an issue, try hard-reloading the page, disabing/cleaning cache or in incognito mode...

[2015-12-03 20:18] damianavila commented on #171
I could be some clashes with the keys used in the live notebook, so you can expect some keys are changes... if you git the help butoom, you will see the available keys on RISE...

[2015-12-03 20:43] jcrichard commented on #171
Thank you D'amiante. My point is for example if you want to have the all slide view usually with Escape I do it. But i

[2015-12-03 20:46] jcrichard commented on #171
I can't do the same with RISE

[2015-12-03 21:46] damianavila commented on #171
you can do it with `w` iirc...

[2015-12-03 22:04] jcrichard commented on #171
Ok I will try. Thank you for Rise this is awesome

[2015-12-03 23:02] jcrichard commented on #171
Ok it is working. Sorry I did'nt see the w...
I still have a problem with the slide font_size, it is too big. Can I change it with metadata or other ?

Thank you

[2015-12-03 23:37] damianavila commented on #171
You should be able to change the font playing with width and height... or modifying the less/css in the source code...

[2015-12-04 06:49] jcrichard commented on #171
Ok thank you very much.  Sorry I am not comfortable with htlm / css.
It's working.

[2015-12-04 12:07] damianavila commented on #171
Ok thank you very much. Sorry I am not comfortable with htlm / css.
It's working.

Nice, closing here...

[2015-12-04 12:07] #171 closed

[2015-12-05 15:56] anaderi commented on #127
my workflow:

- `ipython nbconvert --to slides Analysis-scheme1.ipynb  --reveal-prefix https://cdn.jsdelivr.net/reveal.js/2.6.2`
- `python -m SimpleHTTPServer 8080`
- go to URL `http://server:8080/Analysis-scheme1.slides.html?print-pdf` with Chrome-based browser
- Cmd-P
and it renders all slides as separate pages in needed page orientation. Although
    - the headings looks quite different from wh

[2015-12-07 19:33] bs1234 commented on #127
@anaderi thank you, thank you!
This was super helpful for me so adding a few comments for anyone else trying this:

My workflow:
* cd to the directory containing my_notebook.ipynb

* `ipython nbconvert --to slides my_notebook.ipynb --reveal-prefix https://cdn.jsdelivr.net/reveal.js/2.6.2`

* open the file that was created in current directory: my_notebook.slides.html

* append "?print-pdf" to end

[2015-12-11 08:39] icrtiou commented on #168
This is wonderful. I found this from Harvard's cs109 class. Thank you!

[2015-12-14 01:45] #168 closed

[2015-12-15 10:24] nigeljyng opened #173 "Adding header or footer to slides"
Is there any way to add a header or footer to every slide? Other than hacking the source code.

Thanks for the great work, Damian.

[2015-12-15 13:04] damianavila commented on #173
pinging @fpliger :wink: he did some work on this, but not sure if he abstracted the thing enough to make a PR (I hope so...)

[2015-12-15 22:45] raphaelcastaneda opened #174 "Speaker view does not display slides"
Once in a reveal slideshow, pressing the `S` key opens the reveal.js speaker view, however the windows for current and upcoming slides display the normal jupyter notebook page.

Workaround:
I've found that it is possible within the tiny slide views to open up slideshow mode, and advance the "upcoming slide" window by 1 slide. This works, but it is quite annoying to do each time.

[2015-12-16 14:01] damianavila commented on #174
.Workaround:
I've found that it is possible within the tiny slide views to open up slideshow mode, and advance the "upcoming slide" window by 1 slide. This works, but it is quite annoying to do each time.

Yeah, inception... It is in my plans to support it... no timeframe yet...

[2015-12-17 17:16] fpliger commented on #173
Ah.. I'm guilty on this. :)

I did some work that [I guess] can be reused and [hopefully] turned into a PR. @nigeljyng what are your time constraints? I'm on many different deadlines ATM... :/

[2015-12-18 17:29] nigeljyng commented on #173
Early January would be nice, if that's feasible for you!

[2015-12-21 18:48] jcrichard opened #175 "font size"
Hi,

I want to change the font size of markdown cell because it is disproportionate compare to code cell in the presentation. I tried to add  'font-size': '80%' in ConfigManager but it is not working.

How can we do that ?

Thanks a lot

[2015-12-21 19:40] damianavila commented on #175
There is no easy way to do it without touching the css...

You have to make all your css mods here: https://github.com/damianavila/RISE/blob/master/src/less/main.less#L118
and build the css for now. I guess we eventually can setup something to do it only in general from the ConfigManager as well...

[2015-12-21 19:50] jcrichard commented on #175
Ok thanks so no need to use the the developer mode? Just updating the L118?

[2015-12-21 19:53] damianavila commented on #175
Yep, that should work...

[2015-12-21 19:57] jcrichard commented on #175
Great I will try that, I will let you know. Thanks

Le lun. 21 déc. 2015 20:54, Damián Avila <notifications@github.com> a
écrit :

[2015-12-22 08:37] jcrichard commented on #175
Hi,

I changed the value but nothing change. Do I need to build the css? I don't know how to do

[2015-12-22 11:49] damianavila commented on #175
Yes, you need to build it...

To build the CSS assets, you'll need to install npm (and node) and then

npm install
npm run build

on the development version (https://github.com/damianavila/RISE#development)

[2015-12-22 13:08] jcrichard commented on #175
Well but I am on windows I can't install the developer mode because of
os.symlink.

Why Rise render is not exactly the same as nbviewer. It is not possible to
do it without the css building ?

Le mar. 22 déc. 2015 12:49, Damián Avila <notifications@github.com> a
écrit :

[2015-12-22 15:28] damianavila commented on #175
os.symlink.

Upsss... we should fix that is some way...

Because they are not the same thing...

do it without the css building ?

You can modified the css in the installed extension... look into `%APPDATA%\jupyter`, there should be an nbextension folder and inside that a live reveal folder where you will find the main.css to modify...

[2015-12-22 15:58] jcrichard commented on #175
The last solution works thanks a lot for that!!!

Le mar. 22 déc. 2015 16:28, Damián Avila <notifications@github.com> a
écrit :

[2015-12-30 07:18] ratdon commented on #108
@damianavila Sorry if this is the wrong place. But I couldn't find a proper place to ask. I was checking the discussion [#3841](https://github.com/ipython/ipython/issues/3841) but couldn't find a way to do it. Is there any extension or a way to render the output of a code as separate fragment or slide?

[2015-12-30 13:15] damianavila commented on #108
As a separate fragment or slide, I don't know... there is some people out there with some workarounds to hide the input or output, but put the output in another fragment or slide is probably not trivial task and I did not see anyone trying it...

[2016-01-01 05:22] ratdon commented on #108
@damianavila I am making a tutorial and wanted to hide the output in the slides (reveal.js) or show the input and output separately. Followed the discussion [#3841](https://github.com/ipython/ipython/issues/3841). But still unable to do it. :'(

[2016-01-06 00:04] wiso commented on #161
Hello, I have the exact same problem. I have added a file `custom.css` in the same folder as the ipynb file. Is has no effect. If I open the notebook in the presentation mode and I look at the generated HTML I see:

    <link rel="stylesheet" href="/custom/custom.css" type="text/css">

the problem is the "/" (actually the problem is also `/custom`, but this can be solved creating a directory). If

[2016-01-12 17:56] WeiLiPenguin opened #177 "change theme not work?"
When I want to change to another theme, it not work and show some information under the terminal:

[code]

Is that means RISE try to find the css file under `/nbextensions/`, but the css file was install under `.local/share/jupyter/nbextensions/` ?

So what I did wrong with the settings?

I also check with:

[code]

it return:

[code]

ipython version: 4.0.1

Please help me! Thanks!

[2016-01-19 12:17] codeAshu opened #178 "How to remove RISE"
I was just trying RISE, I already have reveal.js . Now I think it mess up with it? How can I uninstall everything?

[2016-01-22 04:35] benrbray commented on #178
+1 this has been bugging me as well.

[2016-01-22 11:10] damianavila commented on #178
How did you install it?

[2016-01-22 17:17] codeAshu commented on #178
by running setup.py . followed the instruction given at the github page.

Regards,
Ashutosh

On Fri, Jan 22, 2016 at 4:40 PM, Damián Avila <notifications@github.com>
wrote:

[2016-02-04 06:52] parmentelat commented on #172
same issue here, it helps to know it's a matter of caching, although some deterministic method to get the new attributes to kick in would be helpful

regardless, this is an awesome tool, thanks a million for putting this together

[2016-02-04 15:06] parmentelat opened #180 "down-button won't go into subslides"
Hi there;

I just ran into a small glitch, I can use left- and right- buttons on my keyboard to navigate in slides, but on a slide that has subslides I cannot use down-button to see them
The down arrow in the navigator is shown as active (I mean it's not greyed out), and I can use the mouse and click it, but from the keyboard, nope; up-button won't work either to come back up.

What can I be doing

[2016-02-04 15:10] parmentelat commented on #180
I just realized that up and down are bound to moving in cells..
Just tried some modifier keys like Control-down and Shift-down, to no avail either
and Alt-down on my mac is bound to mission-control thingy
What's the expected behaviour ?

[2016-02-04 17:31] augustot2 opened #181 "strange equation bug in markdown"
After installing RISE, I'm having a strange bug, that in the end of every equation, apears a long pipe in the end of it
![equation](https://cloud.githubusercontent.com/assets/8473997/12823661/63caee4a-cb54-11e5-9402-9e0e1c87b9c9.png)

[2016-02-04 17:57] nehalecky commented on #180
I've also been experiencing this, and believe it might be related to the the new release of Jupyter (`4.1.0`)—what version are you using? Seems like there were a few other regressions in RISE functionality since that release.

[2016-02-04 18:55] parmentelat commented on #180
[code]

I guess I was confused mostly because I had been browsing this
http://bollwyvl.github.io/live_reveal/#/
where I discovered about subslides, and in this presentation the down button was working fine.

Can someone please state what the expected behaviour is ?

[2016-02-04 23:08] damianavila commented on #180
There were other's report about some keyboard not working OK, I will take a look in the next few days...

[2016-02-04 23:08] damianavila commented on #181
Can you post the notebook somewhere to take a look? Thanks!

[2016-02-05 08:22] parmentelat opened #182 "button not showing up with big input"
Hey folks

Here's what I can see on my end. With a reasonably small slideshow I get everything working as expected, but with a much larger input:
- at first upon loading, I get a small note at the bottom of the page saying `Loading [MathJax]/extensions/Safe.js`; is stays for a little while, like maybe 8 seconds
- then my input shows up, but the magic button to turn on slideshow is not present
- th

[2016-02-05 08:31] parmentelat commented on #182
Not sure if that's relevant, but just in case

[code]

Is this to say that I should have pip3-installed ipywidgets ?

[2016-02-05 12:18] augustot2 commented on #181
http://nbviewer.jupyter.org/github/augustot2/notebooks/blob/master/static_cond.ipynb

[2016-02-05 12:20] augustot2 commented on #181
![strange](https://cloud.githubusercontent.com/assets/8473997/12846171/13b55d02-cbf2-11e5-9587-caae47c3eaf2.png)

[2016-02-07 17:36] ruffsl commented on #178
Could you comment the livereveal line from your `~/.jupyter/nbconfig/notebook.json` file?
[code]

[2016-02-07 19:00] ruffsl commented on #98
I'm just hitting this issue agian with a current setup.py install with both browsers:
* RISE: commit ddc62ba9abf3cd442b37772c231f80d6fba77814
* Jupyter/IPython:
[code]
* Conda:
[code]
* Firefox: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:44.0)
* Chrome: Version 48.0.2564.82 (64-bit)

[2016-02-09 10:04] thpfaff opened #183 "Installation locations and environment variables"
I have installed RISE to its standard location in
`~/.local/share/jupyter/nbextensions/livereveal/`

Now I wanted to install it to a different directory. The documentation says that this can be changed by setting the JUPYTER_CONFIG_DIR environment variable.
The [jupyter documentation](http://jupyter.readthedocs.org/en/latest/system.html) implies that the extension should probably go to the directo

[2016-02-09 18:49] willwray commented on #181
Looks like a chrome 48 rounding issue interacting with mathjax

http://stackoverflow.com/questions/35171714/ipython-jupyter-notebook-producing-ghost-line-in-all-equations

Other browsers do not appear to be affected.

http://stackoverflow.com/questions/34277967/chrome-rendering-mathjax-equations-with-a-trailing-vertical-line

[2016-02-09 19:15] augustot2 commented on #181
thx, i will change to firefox for now on.

[2016-02-09 19:15] #181 closed

[2016-02-10 06:44] akaihola commented on #147
@damianavila, could you push that branch here? I'd love to contribute if needed.

[2016-02-10 06:50] ThomasA commented on #147
+1

[2016-02-10 09:04] akaihola commented on #147
@damianavila, also, do you think this could be used: https://github.com/jdfreder/jupyter-pip

[2016-02-10 09:35] akaihola commented on #147
I created an experimental pip compliant `setup.py`, see https://github.com/akaihola/RISE/commits/master

[2016-02-13 22:02] quebbs opened #184 "Vertical bar on Markdown cell with LaTeX equation (Chrome)"
For a presentation, I have a lot of Markdown which includes equations. There seems to be an erroneous vertical bar at the end of my equations. It appears both in the notebook, and also in slide mode, but only in Chrome.
<img width="661" alt="livereveal_latex" src="https://cloud.githubusercontent.com/assets/5183040/13030285/73d84c32-d262-11e5-9f41-4a3d5280779e.PNG">

[2016-02-14 19:43] anaderi commented on #127
(a couple of months later) @damianavila, do you think there are any chance this one would be resolved soon?

[2016-02-15 07:07] nehalecky commented on #184
Hi @quebbs, a little google sleuthing turned up this same issue on stack overflow (with a solution): http://stackoverflow.com/questions/35171714/ipython-jupyter-notebook-producing-ghost-line-in-all-equations

Hope that helps. :)

[2016-02-15 14:43] quebbs commented on #184
Nice find - thank you! Good to know this should be fixed in Jupyter 4.2.
Cheers. Closed.

[2016-02-15 14:43] #184 closed

[2016-02-16 06:32] quebbs commented on #158
This only appears to happen when pressing 'F' to go full screen; using F11 still appears to work fine in Chrome.

[2016-02-17 12:46] thpfaff commented on #183
I think, I found the problem myself.
The latest jupyter version does not use the variable JUPYTER_PATH any more but JUPYTER_DATA_DIR.
If I use this one, the installation properly goes into the right directory.

[2016-02-17 12:46] #183 closed

[2016-02-18 11:55] damianavila commented on #127
You mean print-pdf from the slideshow view?

Regrettably, currently, I almost don't have time to make it work... but it is in my top priority to check this again when I have some time available...

[2016-03-01 16:01] mihailupu commented on #180
hi,
for me the button-down/up works with FN (Mac keyboard), as i read somewhere that subslides are changed with PgUp/PgDn and that's the combination necessary for these on my keyboard in the absence of these physical keys.

I had another issue with keyboard shortcuts: Shift+Enter does not work while in slideshow mode, nor after exiting it. After exiting it, I can get it to work again if i remove f

[2016-03-05 18:33] ephes opened #185 "scrolling vertically"
Hi,

I have some big code cells that won't fit vertically on one slide. Unfortunately I've found no way to scroll in presentation mode, but maybe I'm just missing some configuration option :).

best regards,
jochen

[2016-03-06 21:44] Velcin commented on #185
One solution is to toggle the option "scroll" to the value "true" in the "main.js" file.

I guess you can also edit the config file in jupyter.

julien

[2016-03-07 09:21] ephes commented on #185
Thanks, I tried that, but it didn't work.

[2016-03-07 23:45] QCaudron opened #186 "Keyboard shortcuts"
After entering RISE mode using Alt + R, and then exiting again, my shortcuts ( shift + Enter, Ctrl + Enter ) seem to stop working. Any help, much appreciated. Thanks !

I've just installed RISE today. IPython is on 4.1.2, Jupyter is 1.0.0.

#179 looks relevant !

[2016-03-15 04:38] lmarti commented on #109
+1, having RISE fonts working while offline would be great.

[2016-03-15 20:24] damianavila commented on #180
Sorry, I was on vacation, I will try to look into this soon...

[2016-03-17 07:48] frederikph commented on #172
I am having a similar issue. Unfortunately, restarting the notebook and clearing cache doesn't work.

[2016-03-19 09:02] AlJohri opened #187 "pip installable package?"
Was wondering if there was any update on creating a pip installable package? I see there was an attempt made on #147 by @akaihola

Perhaps you can look at the `nbgrader` package? I found their command line tool to enable and disable the extension quite useful.

https://nbgrader.readthedocs.org/en/latest/user_guide/installation.html

- `pip install nbgrader`
- `nbgrader extension install`
- `nbgrad

[2016-03-19 19:00] damianavila commented on #187
I started a branch to make RISE pip installable some time ago but never got enough time to finish it... I will try to recover the work in the following days, thanks for remind me about this again :wink:

[2016-03-22 02:18] soamaven commented on #167
This would be a very welcome awesome. I wish I knew css to help implement this customization through the notebook metadata.

Am going to attempt to create a custom theme with my desired background image, would you recommend this approach for a css novice?

[2016-03-22 16:13] soamaven commented on #167
I learned as much css as I could overnight... I tried to copy one of the .css themes and simply edit the "body" div to be
`body {
  background: url('image.png');
 background-position: cover
}`

I then used the metadata method to call this new them. No luck.
Having trouble with calling some of the other themes with this method however, so maybe its not the .css code here

[2016-04-01 15:28] rsdenijs commented on #98
I am having this issue too. Shift + Enter is not re-enabled when leaving presentaiton mode.

[2016-04-12 08:34] jrderuiter commented on #187
Would also like this!

[2016-04-13 01:40] nolefp commented on #182
I actually had the same issue, not with a slideshow but just a really long notebook with lots of graphics. It wouldn't load for forever, then it was supper slow, and then it started loading without the nbextenions i had on, like table of contents, etc...

[2016-04-13 14:50] j3mdamas opened #188 "Interactive code cell output effects on vertical centering/arrangement of slide content"
Hi,

RISE is fantastic and allows the creation of interactive presentations, which is really great!

So, the interactive part is, for me, something really important and I am having troubles with it. This concerns the slide organization and code cell output. In a case where the output hasn't been generated, the slide is organized considering the current status, and outputs generated on-the-fly/in p

[2016-04-25 12:52] nbecker opened #189 "%matplotlib notebook doesn't work as expected"
newbie to RISE here
I use %matplotlib notebook, which gives matplotlib inline, but with interactive controls (e.g., zoom).
When run as slideshow, the interactive controls are missing - looks like %matplotlib inline

[2016-04-28 00:29] ianhbell commented on #180
I confirm that on windows page up/down go into subslides, but up/down do not.

[2016-04-28 05:03] ibell commented on #180
Also, Esc seems to no longer do the overview

[2016-04-28 13:29] damianavila commented on #180
Yes, all the shortcuts need a revision because of the latest changes in the notebook.
Still struggling to have some time for work on this fixes... sorry about the delay...

[2016-05-06 12:42] hfinger commented on #185
For me that works, thanks. What I did was the following. I opened a notebook and executed:
[code]
Then I had to restart jupyter notebook so that these changes took effect. After that I have a scrollbar during the presentation.

[2016-05-10 15:08] AnasGhrab opened #190 "RTL"
Hi,

What is the best why to set all slides in RTL direction ?

Thanks,

--
Anas

[2016-06-06 00:29] jmansour commented on #173
Hey folks.  End up getting any traction on this feature?

[2016-06-06 22:03] j3mdamas opened #192 "Table cell's size does not adjust to content (example: code text)"
Hi,

In presentation mode, the table cell's size is not adjusted when one uses \`text\` inside the cells. The same seems to be true for \*\*bold text\*\*.

[2016-06-07 19:33] fjsj commented on #188
+1

[2016-06-15 16:18] jluttine opened #193 "Notebook or directory level configuration"
A feature request: make it possible to change configuration for a notebook or notebooks in a directory without needing to modify the user config, which affects all notebooks. For instance, I may want to use different themes for different projects.

[2016-06-15 16:32] jluttine opened #194 "Changing configuration doesn't affect unless re-opening the notebook"
I have the following in one of my cells:
[code]
I execute the cell and enter RISE mode, but it has no effect. If I close the tab and re-open the notebook, then it takes effect. I think executing config cells should affect immediately?

[2016-06-15 16:46] jluttine opened #195 "Configuration in notebook metadata has no effect"
I followed the instructions mentioned here:

https://github.com/damianavila/RISE#alternative-configuration-method

But livereveal settings in the metadata have no effect. I tried closing and re-opening the notebook, but doesn't help. Neither does shutting down the notebook and re-opening.

My full metadata:
[code]

[2016-06-16 15:04] seddon-software opened #196 "Space for output cells"
Is it possible to pre-allocate space for output cells in the presentation.  At the moment slideshow centres the slide vertically, but when code is run it often disappears off the bottom of the slide.  I'd prefer the input cell be displayed as high up on the screen as possible, but I can't work out how to do that with custom CSS.

[2016-06-17 14:16] Boosted09Foci opened #197 "Slideshow not working"
I have the reveal installed in my nbextensions.

The slideshow button is on my notebook toolbar.  However,  I have no option to set my cells as a "slide"??  Do I need to reinstall?

[2016-06-17 15:10] ThomasA commented on #197
I think it is a feature of Jupyter Notebook to hide this. Look for an option in Jupyter's menus to display the slideshow toolbar. I expect that will do the trick.

On 17. jun. 2016 16.16.48 CEST, Boosted09Foci <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-06-17 15:13] Boosted09Foci commented on #197
The menu within the notebook? or do I need to look in the menu directory?

[2016-06-17 15:18] Boosted09Foci commented on #197
Found it!

I had to manually copy the lastest livereveal folder into the .python/nbextensions directory.

To make each cell a slide go to the following in the notebook:

view >> Cell Toolbar >> Slideshow

Thanks for the help!

[2016-06-17 15:20] ThomasA commented on #197
The option is in one of Jupyter's menus in an open notebook. I do not have my computer with me now, so I cannot check where.

On 17. jun. 2016 17.13.06 CEST, Boosted09Foci <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-06-17 15:21] ThomasA commented on #197
That's the menu I was thinking of. Great that you found it.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-06-17 23:57] seddon-software commented on #196
OK, I've found a workaround.

[2016-06-17 23:57] #196 closed

[2016-06-18 21:32] damianavila commented on #196
@seddon-software Can you share the workaround for others? Thanks!

[2016-06-22 18:16] seddon-software opened #198 "CSS Styling"
I'm having trouble understanding how to style presentation slides such that each slide's header is placed at the top of the screen.  At present, each slide is vertically centred.  I've searched all the loaded CSS classes, using the Chrome debugger, but I can't find the CSS positioning style or class.  I get the impression the heights are calculated by your code.  Could you explain which CSS is use

[2016-06-22 18:25] seddon-software commented on #198
I'm having trouble understanding how to style presentation slides such that each slide's header is placed at the top of the screen. At present, each slide is vertically centred. I've searched all the loaded CSS classes, using the Chrome debugger, but I can't find the CSS positioning style or class. I get the impression the heights are calculated by your code. Could you explain which CSS is used to

[2016-06-22 18:26] seddon-software commented on #190
RTL = right to left?

[2016-06-22 18:32] seddon-software commented on #167
You can add a background image (with a linear gradient) as below, by adding code to the custom.css file.  The file must be in the directory:
  *    ~/.jupyter/custom/custom.css

<pre>
.rise-enabled {
    background-color: azure !important;
    font-size: 125% !important;
    background-image: url(CRS-Enterprises.jpg), linear-gradient(30deg, #7ab8ec, white 75%, white);
    background-position: righ

[2016-06-28 00:42] soamaven commented on #167
If I don't have a custom.css file, should this be the only content of a new file named custom.css?

[2016-06-28 05:05] soamaven commented on #185
Changing the main file at `.local/share/jupyter/nbextensions/livereveal/main.js` to have scroll be `true` fixes this for me.

I would support that this should be set to `true` by **default**, since this is the case for static slide shows with `reveal.js` and _more importantly_, since I don't know of a way to know before-hand what will fit onto the screen.

[2016-07-03 16:55] jhrsn commented on #129
Has any progress been made on #129 since last year? Using the current version of Jupyter and a fresh install of the current RISE I see the same code text cutoff issue that is depicted in the images above. I'm putting together this summer's workshop and it would be nice if I could get past this issue. I've tried to trace the problem though the various nested css containers and I've been able to mod

[2016-07-04 14:28] damianavila commented on #129
No progress on this one, but I am trying to triage and prioritize issues this week. Thanks for the reminder.

[2016-07-05 03:32] fredthedead opened #199 "cell toolbar/selection is not available"
I have just installed RISE on Jupyter 4.1.0, I am getting the start/stop slideshow button - but not the cell selection buttons (to select which cells should go into the slideshow).

I went through the previous resolved issues regarding the jupyter directory levels and tried the solutions suggested there without success.

[2016-07-05 06:49] hkarl commented on #195
Similar effect here. Configuration:

* jupyter 4.1.0   (pip only sees this version ?)
* python 3.51
* ipython 4.2.1
* no conda, just pip
* RISE cloned from github
* markup ignored by firefox, chrome, safari

Although other people are able to get it work, see here: https://groups.google.com/d/msgid/jupyter/5dfc73bc-b9b8-45c0-9004-e75d4c8adb27%40googlegroups.com?utm_medium=email&utm_source=footer&r=

[2016-07-05 09:34] ThomasA commented on #199
Did you try the solution in #197? You can find the menu item to enable it as shown in the image here:
![skaermbillede fra 2016-07-05 11-31-09](https://cloud.githubusercontent.com/assets/971307/16580366/61767476-42a4-11e6-9c67-b53acb36cd6c.png)

[2016-07-09 00:22] jason-s commented on #161
Same issue here. It would be nice if it looked for two CSS files:

- a fixed-name file in the same directory as the .ipynb file (`RISE-custom.css` or `slideshow.css`: I think `custom.css` is too generic)
- a file that is the same name, and same directory, as the .ipynb file but with .css (so if you have `foo.ipynb` it looks for `foo.css`)

[2016-07-09 03:30] jason-s commented on #172
I ran across the problem as well. There's a bug, which I figured out when I added some `console.log` statements in `main.js`.

This section of code:

[code]

the if statement is never true. It appears as though it executes before the metadata is actually loaded from the notebook.

Same with the `setup()` function, that runs before the notebook metadata is loaded.

Not sure when the right time is t

[2016-07-10 13:00] anaderi commented on #127
maybe summer will promise a glimpse of a free time for this issue? )

[2016-07-11 20:57] damianavila commented on #127
Maybe... :wink:

[2016-07-11 20:59] damianavila commented on #172
It seems a bug as you said... I will look into your proposal @jason-s

[2016-07-11 21:15] damianavila commented on #32
OK, but until the upstream solution lands... let's implement a custom solution

[2016-07-11 21:24] damianavila commented on #79
#156 closed this one.

[2016-07-11 21:24] #79 closed

[2016-07-11 21:44] damianavila commented on #161
Previous discussion lives here: https://github.com/damianavila/RISE/issues/95
Closing this one because the original question was answered.
We can continue any further discussion in #95

[2016-07-11 21:44] #161 closed

[2016-07-11 21:46] damianavila commented on #161
@wiso, I just want to tell you that you are trying to customize css with the nbconvert slideshows and this is RISE, not the slides exporter in nbconvert. Cheers.

[2016-07-11 21:51] #175 closed

[2016-07-11 22:01] #197 closed

[2016-07-11 22:03] damianavila commented on #199
Closing, we need a mention at the README: https://github.com/damianavila/RISE/issues/159

[2016-07-11 22:03] #199 closed

[2016-07-11 22:03] damianavila commented on #197
https://github.com/damianavila/RISE/issues/159 to track the need for info...

[2016-07-11 22:07] damianavila commented on #187
This is a duplicate of #146, closing here and continue the discussion there...

[2016-07-11 22:07] #187 closed

[2016-07-11 22:31] damianavila commented on #137
Tested master with latest notebook 4.2.1 and buttons appear OK.
So closing here. Feel free to re-open to add more info or if you see issue again.

[2016-07-11 22:31] #137 closed

[2016-07-11 22:33] damianavila commented on #158
Probably related with keyboard shortcut conflict.

[2016-07-11 22:38] damianavila commented on #162
We should check if this is still happening with the latest Bokeh release.

[2016-07-11 22:47] damianavila commented on #180
`pgup` and `pgdn` are working as expected... as it is stated in the README the up/down keys are to move between cells...

Additionally all the RISE keys are working in master now:

Reveal Shortcuts Help
* Alt+r: Enter/Exit RISE
* w: Toggle overview mode
* ,: Toggle help and exit buttons
* Home: First slide
* End: Last slide
* space: Next
* Shift+space: Previous
* PgUp: Up
* PgDn: Down
* left: Left

[2016-07-11 22:47] #180 closed

[2016-07-11 22:50] damianavila commented on #182
@parmentelat do you have any example notebook I can test so I can reproduce the behavior? Thanks!

[2016-07-11 22:52] damianavila commented on #186
This is no longer an issue on master, probably fixed by #179, closing here.

[2016-07-11 22:52] #186 closed

[2016-07-11 22:59] damianavila commented on #192
@j3mdamas can you link me an example I can work with? Thanks.

[2016-07-12 01:12] damianavila commented on #194
Since the params at read from the config when the notebook load, you need to reload the page to apply the changes... but we should be loading the config before entering the slideshow mode, so we can change things immediately...

[2016-07-12 01:18] damianavila commented on #185
After several and long discussions with a lot of people, we have arrived to the conclusion that scrolling on reveal.js based slideshows brings more problems than benefits, so I will not add the scrolling as a default option BUT we should clearly document how to get scrolling slides with the config option available. I will mark this as a docs issue and prioritize properly.

[2016-07-12 01:20] damianavila commented on #166
@pmjandreen how did you try to set this false... my best guess is modifying the source code. But I would like confirmation before proceeding with the discussion and possible fix/enhancement.

[2016-07-12 01:23] damianavila commented on #177
@WeiLiPenguin the sky theme is working for me with master and notebook 4.2.1, how did you try to change the config to actually use it?

[2016-07-12 08:25] anaderi commented on #127
meanwhile ... I've managed to merry RISE with decktape. works reasonably well.
https://github.com/astefanutti/decktape/pull/57

[2016-07-12 11:17] pmjandreen commented on #166
I tried both ways of configuring Reveal from Rise (in the code and in the metadata of the notebook).

[2016-07-12 11:29] j3mdamas commented on #192
Hi @damianavila,

Thanks for noticing this issue. You can download this notebook: https://github.com/Acellera/htmd/blob/master/tutorials/introd-atom-selections.ipynb

Slides 4, 6 and 7

[2016-07-12 11:31] j3mdamas commented on #188
@fjsj, is your fix working well?

[2016-07-12 11:34] ThomasA commented on #188
I usually lay out my slides with all output evaluated to make sure it
fits in. If I want to show my slides while generating the output on the
fly, I then simply clear all outputs before starting the slideshow and
then I know from when I laid them out that the output will fit.

[2016-07-12 12:24] j3mdamas commented on #188
@ThomasA I'm pretty sure that does not work. If the output is not there, the current layout (without output considered) is vertically centered and when the output is generated, it may go out of the slide.

[2016-07-12 14:05] damianavila commented on #195
This is a duplicate of #172.
Continuing the discussion there, closing here.

[2016-07-12 14:05] #195 closed

[2016-07-12 15:37] damianavila commented on #127
That's great to know... Printing PDF from HTML slides was always a nightmare... I am happy to instruct people to use other packages if the resulting pdf quality is something reasonable.
Do you have any output to take a look?

[2016-07-12 15:42] damianavila commented on #166
@pmjandreen thanks for the info, I will take a look.

[2016-07-12 15:46] damianavila commented on #192
Thanks! I will take a look.

[2016-07-12 15:50] damianavila commented on #188
@j3mdamas, just to be sure... you know that you can pass and `scroll: True` in the config and you get a scrollbar that lets you see the output you generated on the fly and outside the current slide view?
It is a mitigation, not a solution... but I just want to know if you are aware of that option.

[2016-07-12 16:20] rahuldave commented on #185
Where do you set the "true"? My main.js (under .ipython) reads:

[code]

Meanwhile `~/.jupyter/nbconfig/livereveal.json` reads:

[code]

Either way it ought to work, but no scrollbar on restart....

[2016-07-12 16:33] damianavila commented on #185
Can you try hard setting your browser or clear the browser cache... because if the scroll option is true in livereveal.json, you should see the scrollbar after reloading the page.

[2016-07-12 16:53] j3mdamas commented on #188
I did not know. I'm going to try it out.
But at least you understand what I mean, I am glad that I am being able to express myself :)
Do you think it's something that it's fixable? I would also like to try @fjsj fix. I am assuming it works, but I want to try it out.

[2016-07-12 17:55] anaderi commented on #127
I have a private example (research I'm not allowed to share). If you give me link to a RISE-enabled notebook with reasonable dependencies , I'll send you the link to the slides `decktape` produces )

[2016-07-12 22:19] damianavila commented on #188
This is something I have to think about... and also I need to check @fjsj fix, maybe there is an answer there :wink:

[2016-07-12 22:20] damianavila commented on #127
OK, I will do that... and post the link here and I will ping you...

[2016-07-13 01:49] jason-s commented on #95
see for example PR #200  (Add companion .css file)

One issue is version control: if you put an .ipynb file into version control, it makes sense to have CSS also put into version control along with it.

I will have to try the `%%HTML` hack again, I thought I did already without success, but maybe I missed something.

[2016-07-16 12:54] damianavila commented on #172
People, I put a PR to solve this, check: https://github.com/damianavila/RISE/pull/201

BTW, @jason-s, I took another path to solve it but thanks for your interest and discussion!!

[2016-07-16 12:54] damianavila commented on #194
I put a PR to solve this, check: https://github.com/damianavila/RISE/pull/201

[2016-07-18 14:44] anaderi commented on #127
JFYI, the PR has been accepted and it part of `decktape` now.

[2016-07-18 17:09] damianavila commented on #127
Thanks for the ping @anaderi

[2016-07-18 18:23] fjsj commented on #188
Hey @damianavila and @j3mdamas, my solution works on modern browsers that have [MutationObserver](https://developer.mozilla.org/en/docs/Web/API/MutationObserver). Code can probably be put in a better place and have documentation added, but the solution is this: https://github.com/vintasoftware/RISE/commit/e7cb8da9bb8eab5a34a3b00524395961c11f81a1#diff-1

For those who want to try it, obviously RISE

[2016-07-20 21:12] xguse commented on #52
Am I right in assuming this has not been addressed yet?

[2016-07-20 22:17] damianavila commented on #52
Planned for the next release...

[2016-07-23 04:46] daniil-konovalenko opened #202 "Code lines inside a Markdown cell cutoff"
Code lines inside Markdows cells are cut.

![image](https://cloud.githubusercontent.com/assets/11165516/17075836/231c46f2-50a9-11e6-9afb-43281b585f50.png)

Occurs in Chrome, Opera

[2016-07-25 13:45] damianavila commented on #202
Thanks for the report, I will take a look.

[2016-07-26 01:30] fjsj commented on #188
@damianavila are you open to a PR addressing this issue?

[2016-07-26 12:07] damianavila commented on #188
Yes, of course... I am open to any PR... then we can discuss about the implementation and details, but you should not ask to put a PR :wink: Any contribution is welcomed and appreciated!

[2016-07-30 14:54] j3mdamas commented on #188
I'll be back on this issue after holidays and when I start preparing a workshop on which I intend to use RISE a lot :wink:

[2016-08-06 21:06] #172 closed

[2016-08-06 21:07] damianavila commented on #194
PR merged, closing here.

[2016-08-06 21:07] #194 closed

[2016-08-06 21:10] #56 closed

[2016-08-06 21:11] damianavila commented on #147
PR merged, closing here...

[2016-08-06 21:11] #147 closed

[2016-08-06 21:12] damianavila commented on #169
PR merged, closing this one as well...

[2016-08-06 21:12] #169 closed

[2016-08-06 21:15] #52 closed

[2016-08-06 21:15] damianavila commented on #165
Added at #204, closing here.

[2016-08-06 21:15] #165 closed

[2016-08-08 11:32] engyasin opened #207 "RISE is unresponsive to different screen sizes"
the live slideshow is hiding some parts of the slide when changing the window of the browser (chrome) (windows 7 32bit , python 2.7 , jupyter 4.0)
 no problem when maximizing the window , but with some kinds of projector the screen size change and cause this issue..
any help :)
![image](https://cloud.githubusercontent.com/assets/15736151/17478498/db55a222-5d74-11e6-9a50-5aaaf5423bf5.png)

[2016-08-08 16:49] damianavila commented on #207
On this section https://github.com/damianavila/RISE#configure-your-own-options you will have some info about how to customize height and width, I guess it is the best option for you, just use the projector screen size and check if it fits better.

[2016-08-09 01:57] #188 closed

[2016-08-10 14:21] fproldan commented on #185
@rahuldave You did it work?

My livereveal.json is:
[code]
I cleared the browser cache and restart jupyter but the scroll didn't work

Thanks

[2016-08-10 23:00] damianavila commented on #185
@fproldan there is a beta for the next release: http://www.damian.oquanta.info/posts/rise-400b1-is-available-please-test-it.html
I tested on that beta and works for me, please report back if it is not working with the beta.

[2016-08-11 10:27] willingc opened #215 "Installation instructions for beta"
Hi @damianavila,

Trying out RISE beta today. Ran into a small install issue. I needed to remove my ``.jupyter`` config info to get the conda extension to load properly. Also needed to ``conda install jupyterlab``.

Will let you know how the rest goes 👍

[2016-08-11 10:43] willingc commented on #215
Beta feedback:

- [ ] pressing End Tour does not close window
<img width="489" alt="screen shot 2016-08-11 at 3 42 38 am" src="https://cloud.githubusercontent.com/assets/2680980/17586311/ca675b60-5f75-11e6-9e05-f103cfd2cc3f.png">

[2016-08-11 11:32] fproldan commented on #185
@damianavila I searched for all of the main.js under rise after i found the right one, and now it works like a charm!
Sorry for bother you.
Regards!

[2016-08-11 14:15] damianavila commented on #215
@willingc this does not look like RISE :wink:, it seems nbpresent... am I right?

[2016-08-11 14:17] damianavila commented on #185
@fproldan no problem, but you should be modifying main.js, the config mechanism allow you to have scrolling behavior... that did not work for you in the beta?

[2016-08-11 16:49] willingc commented on #215
@damianavila Could be. I'm not very familiar with nbpresent.

Which would bring up my next question, what steps need to be done to enable RISE? :D

[2016-08-11 20:24] damianavila commented on #215
This is the RISE repo and the UI has not changed at all.

You can install RISE with conda now: `conda install -c damianavila82 rise`

and you have other installation alternatives here: https://github.com/damianavila/RISE#installation

Then you have nbpresent who lives here: https://github.com/Anaconda-Platform/nbpresent
and this is another slideshow machinery written by Nick Bollweg and it is insp

[2016-08-11 20:26] willingc commented on #215
Thanks @damianavila. I got it sorted out on the plane flight. Both are cool. 🎉

[2016-08-11 20:26] #215 closed

[2016-08-12 09:45] Stef-aap opened #216 "hello,"

[2016-08-12 09:47] #216 closed

[2016-08-12 09:52] Stef-aap opened #217 "Calico buttons are gone after installing Rise"
hello Damián,

I just installed Rise, looks very nice, but the installation removed my Calico buttons.
These buttons are loaded in ..\.ipython\profile_default\static\custom\custom.js.
So it looks that the custom.js is not executed anymore.
I've restarted everything but that doesn't help.
Any clue how to get Calico working again or how to uninstall Rise ?

thanks,
Stef

[2016-08-12 12:37] damianavila commented on #217
We have been discussion in the jupyter mailing list, let continue the discussion there until we get more info. Then we can put the info here for others.

[2016-08-16 12:37] damianavila commented on #217
Solved in the mailing list: https://groups.google.com/forum/#!topic/jupyter/o2cJCij842w, closing here.

[2016-08-16 12:37] #217 closed

[2016-08-24 14:49] brsilvarec opened #219 "Slide title position"
Dear developers, I am customizing a slide and need to set the position of the title. I am using the following code as the title.

[code]

And this is the CSS

[code]

The collor change works fine but the position of title is not fixed at the top. Can you help whith that?

Regards

[2016-08-24 17:35] superbobry opened #220 "Newer Reveal.js"
Could you please update the bundled Reveal.js to 3.3.0?

I've tried doing it manually, but apparently this breaks some of the style hacks.

[2016-08-24 17:37] superbobry commented on #219
I think you need the 'center' option of [Reveal.js](https://github.com/hakimel/reveal.js#configuration), but AFAIK RISE does not provide a way to customize it.

[2016-08-25 13:08] damianavila commented on #220
It is in my todo list for the next milestone (along with some other related changes).

[2016-08-25 13:12] damianavila commented on #219
Not sure the center option on reveal.js is helpful here... but you could potentially customize that on RISE (see the config section at the README).

[2016-08-31 15:49] xguse commented on #52
Dear god in heaven, THANK YOU! For real. This is great news!

[2016-09-07 03:52] virtuald opened #223 "Not compatible with scratchpad extension"
Tested in chrome, with latest versions of juptyer, RISE, etc.

When displaying a slideshow, the scratchpad button shows up in the right corner, but sadly when it displays it doesn't work. It appears that SHIFT-ENTER is stolen by the slideshow and directed towards the active cell on the slide, instead of at the scratchpad.

Let me know what other information you need to debug. Might be their bug to

[2016-09-07 13:39] damianavila commented on #223
I will take a look... thanks for the report!

[2016-09-07 16:17] dhruvkapur91 opened #224 "Provide a mechanism to obtain metadata of currently displayed cell within slide"
Hey.

I am trying to obtain the metadata of the cell that is currently being shown in the presentation.
Jupyter provides a way of getting this from selected cell with following:

`Jupyter.notebook.get_selected_cell().metadata`

Something similar from RISE will be great

[2016-09-08 17:08] damianavila commented on #224
You can do the same with RISE because RISE is on top of the notebook... if you open you js console you should be able to run `Jupyter.notebook.get_selected_cell().metadata`...

[2016-09-09 20:14] chasehere opened #225 "Configuring theme in 4.0.0b1 resets after a single view"
I am able to change the theme with the following

[code]

The first time I view the slideshow I see it uses the sky.css.  If I do not reload the page, then every subsequent slideshow view reverts back to simple.css.  I would like to be able to exit/enter slideshow mode without having to reload the page each time.

[2016-09-09 21:50] superbobry commented on #220
I've managed to this in my fork. Would you accept a PR?

[2016-09-10 04:49] dhruvkapur91 commented on #224
Hey. Thanks for responding.

And interesting. When I open my javascript console (through Chrome's dev tools) I get

`VM711:1 Uncaught ReferenceError: Jupyter is not defined`

Irrespective if I'm running a RISE presentation or otherwise. But the same does work when executed from inside of the cell with `%%javascript`magic.

However as a workaround I hooked up a function on Reveal's slidechange even

[2016-09-12 13:18] damianavila commented on #220
Of course!

[2016-09-12 13:22] damianavila commented on #225
You mean: the first time it uses the sky theme, then you exit the slideshow mode and when you enter again, you don't see the sky theme anymore? Weird...

Can you post the ipynb file to check? Thanks!

[2016-09-12 17:08] chasehere commented on #225
Correct, but I'm having trouble reproducing the issue today.  Now I can't get it off sky even if I change the theme to something else.

Here is the notebook:
https://github.com/chasehere/Config/blob/master/RISE%20Issue%20%23225.ipynb

[2016-09-13 12:13] damianavila commented on #225
Some more questions: are you using RISE master? or the published beta? and what is your notebook version? Thanks again.

[2016-09-13 13:44] chasehere commented on #225
My notebook version is 4.2.1.  I'm not sure which RISE I am using, how would I find out?  I did the
[code]

[2016-09-13 16:47] damianavila commented on #225
ok, that's the last one and the only version available as a conda package... btw, you can see the version with just `conda list rise` and check the output... or alternative in a python/ipython console:

[code]

[2016-09-17 17:36] shortcipher3 commented on #127
@anaderi I tried your decktape solution, looks very promising, but I get a ReferenceError that phantomjs can't find variable Reveal.  Did I miss a step in the setup?

./bin/phantomjs.exe decktape.js rise http://localhost:8888/notebooks/test_slides.ipynb#/slide-0-0 test2.pdf
Loading page http://localhost:8888/notebooks/test_slides.ipynb#/slide-0-0 ...
Default extension for cell metadata editing loa

[2016-09-17 17:42] ssanderson commented on #127
I hit the same issue as @shortcipher3 this morning as well.

[2016-09-17 19:57] astefanutti commented on #127
@shortcipher3 @ssanderson would that be possible for you to increase the delay here: https://github.com/astefanutti/decktape/blob/18d1e1537fe85c7d5cd9cdaa4f46184eda7241b0/plugins/rise.js#L36 and give it a try? It may be that it takes a bit more time for Reveal.js to initialise depending on your setup.

[2016-09-17 20:50] shortcipher3 commented on #127
@astefanutti I increased my delay from 2000 to 200000 with the same result. I tried it with a simplified slide deck (two slides, text only), so the slides themselves shouldn't be crazy.

[2016-09-20 15:39] ChrisRackauckas opened #229 "Vertical Scrolling Issues"
I used the command:

[code]

to enable vertical scrolling. However, no scrollbar appeared. However, I can highlight and bring my curser to the bottom of the screen, causing it to scroll without using a scrollbar, meaning that in some sense scrolling got enabled (and the theme changed to sky, the transitions changed to fade, etc.).

My browser version is Chrome Version 53.0.2785.116 on CentOS7. Jup

[2016-09-21 12:34] damianavila commented on #229
Thanks for the report @ChrisRackauckas, I will try to reproduce with your browser version...

[2016-09-26 11:12] anhi commented on #127
@shortcipher3 @astefanutti For me, the problem was that the start_livereveal button was not yet loaded, which happens before the delay mentionend by @shortcipher3. Adding --loadPause=5000 to the decktape command line fixed the issue for me.

[2016-09-26 16:10] astefanutti commented on #127
@anhi thanks. I can't remember if I used the `loadPause` option when I tested the RISE plugin. If @shortcipher3 confirms that fixes the issue, I'll add a default delay specifically to the RISE plugin so that users don't have to face that cryptic error message.

[2016-09-26 18:23] shortcipher3 commented on #127
I additionally needed to update my version of RISE, but is now working.  Thanks @anhi  and @astefanutti

[2016-09-27 20:06] astefanutti commented on #127
@anhi @shortcipher3 I've just fixed a race condition in the RISE plugin configure in  astefanutti/decktape@9458e21. thanks for the feedback! @damianavila if you have a moment, that'd be great if you could have a look to see whether there is a possibility to replace the delays with deterministic conditions for the Jupyter notebook and RISE extension load completion.

[2016-09-28 13:20] damianavila commented on #127
I guess we can emit some kind of event when the extension is finally "loaded" on the slideshow view... From the top of my head we don;t have anything on the notebook js machinery to do that, so I think we should need to solve it on RISE itself...

[2016-10-06 22:59] diego898 commented on #178
I am trying to completely remove rise from my environment. How can I do that?

[2016-10-07 12:32] damianavila commented on #178
@diego898 how did you install it?

[2016-10-07 15:17] diego898 commented on #178
I honestly don't remember :l

[2016-10-10 14:30] olyerickson opened #230 "RISE and JupyterHub?"
I've installed RISE via conda as specified...
`conda install -c damianavila82 rise`
...but I do not see the "new button" described in the README...
`new button ("Enter/Exit Live Reveal Slideshow") `
What special incantations do I need to do to render slideshows created in notebooks via JupyterHub?

[2016-10-11 01:57] damianavila commented on #230
I did not test it on JupyterHub, but my best guess is about something related with where you install the nbconfig stuff... see this link for more info: https://github.com/jupyterhub/jupyterhub/issues/305, I think that should help you a little bit.

[2016-10-11 01:59] damianavila commented on #178
@diego898, try `conda list rise`, also give me your notebook version and the output of `jupyter nbextension list`. Thanks.

[2016-10-11 03:55] diego898 commented on #178
[code]

[2016-10-11 13:07] zhongyehong opened #231 "Install RISE without reinstall jupyter"
I have installed jupyter and added some new functions. Now I want to install RISE, but the two way to install it (conda and pip) will also reinstall jupyter4.2.3. This will make the new functions in jupyter become invalid.  How can I just install RISE without reinstall jupyter?

[2016-10-11 13:57] damianavila commented on #178
Well, I can not see rise there... where are finding rise-related things?

[2016-10-11 13:59] damianavila commented on #231
Try installing RISE with conda but using the --no-deps option:

`conda install rise --no-deps`

Let me know if that helps.

[2016-10-11 14:54] zhongyehong commented on #231
I add this option, and it says `--py` are not valid arguments. Maybe the version of jupyter-nbextension I used doesn't support it.But the `rise-4.0.0b1-py35_0.tar.bz2` has been download. How can I install RISE with it? I try `jupyter-nbextention install rise-4.0.0b1-py35_0.tar.bz2` and enable it, but it doesn't work.

[2016-10-11 15:30] diego898 commented on #178
I have the following buttons:

![screen shot 2016-10-11 at 8 29 49 am](https://cloud.githubusercontent.com/assets/742407/19276944/e5de8c46-8f8c-11e6-816a-fc7e75ebc6d2.png)

[2016-10-11 16:48] damianavila commented on #178
OK, give me the content of this file:   config dir: /Users/diego/.jupyter/nbconfig
You should see a livereveal reference there... if you remove that, you should not see RISE button anymore.

[2016-10-11 16:56] diego898 commented on #178
That will stop it from loading, but not uninstall it correct?

[code]

[2016-10-11 19:52] damianavila commented on #231
Can you post the exact output when it fails with `--no-deps`? Thanks!

[2016-10-11 19:55] damianavila commented on #178
Yep, to remove it just look for the livereveal (RISE) files on the paths you get when you run `jupyter --paths`.

[2016-10-11 20:00] damianavila commented on #178
Additionally you probably want to eliminate the python side, most probably located under your anaconda path, more specifically under site-packages from your root or env where rise is installed (on the usual places for python things).

It is a little bit hard to clean a previous installation, this is why I now provide pip and conda packages...

[2016-10-12 02:32] zhongyehong commented on #231
`Fetching package metadata .........
Solving package specifications: ..........

Package plan for installation in environment /root/miniconda3:

The following NEW packages will be INSTALLED:

    rise: 4.0.0b1-py35_0 damianavila82

Proceed ([y]/n)?
[EnableNBExtensionApp] CRITICAL | Bad config encountered during initialization:
[EnableNBExtensionApp] CRITICAL | Unrecognized flag: '--py'
Configure a

[2016-10-12 14:27] damianavila commented on #231
What is your notebook version? It should be a little bit old if it does not support the `--py` argument

[2016-10-12 14:56] zhongyehong commented on #231
I install my notebook by an installation package my friend gave. He set the version as 5.1.0.dev. It seems to be a new version.

[2016-10-12 15:20] damianavila commented on #231
Well, that should be master (I guess so)... I don't get why is not installing correctly since your version is above the 4.2.3 unless there is a breaking change on master (I doubt)... I will try to test with master soon and report back.

[2016-10-19 10:30] pdonorio commented on #95
Hello, sorry to bother, but do we have any update here?

I see that there are now [some instructions](https://github.com/damianavila/RISE#configure-your-own-options) for custom code in the repo homepage. I didn't notice that one year ago, am I right?

[2016-10-19 12:15] damianavila commented on #95
Still not a simple way to further customize thing on the css... but you can actually customized a lot of the reveal.js options with the instructions provided in the README that you linked.

[2016-10-19 12:15] damianavila commented on #95
As you see there are some PRs opened but I did not have time to deal with them yet.

[2016-10-19 12:18] pdonorio commented on #95
Thanks for the clarification. Is that custom code enough for the keybindings instead?

[2016-10-19 13:45] damianavila commented on #95
If you want to customize keybindings you need to do it in the source for now... we have been discussion about a rise.js or custom.js to customize the js behavior but we don't have that fucntionaliti yet...

[2016-11-02 08:33] kevin-keraudren commented on #129
This change did it for me: https://github.com/damianavila/RISE/compare/master...kevin-keraudren:klarismo-chrome-changes#diff-6ea854b4af41eff111b88469d2cb4540L209

Basically, there is `max-width: 960px !important;` hardcoded as a Firefox fix.

[2016-11-02 08:37] kevin-keraudren commented on #166
In order to disable centering, you need to set if to `false` in reveal.js, as you already did, but you also need to add a few lines to `~/.jupyter/custom/custom.css`:

[code]

see notebook here https://github.com/kevin-keraudren/pydata-meetup-20161101 which gets rendered like this http://www.slideshare.net/kevinkeraudren/medical-imaging-in-python-from-morphological-operations-to-machine-learning-a

[2016-11-02 08:49] kevin-keraudren opened #233 "Vertical centering, code text cut off, scrolling and z-index"
Hi,

I recently did a presentation using RISE, thanks a lot for this great addition to the Jupyter project.

I did a few CSS tweaks you might be interested in.

I already posted comments regarding:
 * vertical centering of slides https://github.com/damianavila/RISE/issues/166
 * code text cut off on wide slides https://github.com/damianavila/RISE/issues/129

There are other minor modifications I d

[2016-11-02 14:58] damianavila commented on #129
@kevin-keraudren, thanks! I will take a look soon!

[2016-11-02 14:59] damianavila commented on #166
@kevin-keraudren, nice info, thanks!

[2016-11-02 15:03] damianavila commented on #233
A lot of interesting feedback and solutions!! Thanks for trying RISE and look into the problems.
I will try to review your PRs soon.

[2016-11-02 17:16] kevin-keraudren commented on #233
There is only one trivial PR opened for now regarding the z-indices.

The proposed fix for scrolling in Chrome (namely removing `overflow: hidden;` in the CSS of the body) seems to be due to a bug in Chrome according to the comments in the jquery link, so I do not know if it is a legitimate PR to open.

[2016-11-03 14:45] damianavila commented on #233
Maybe, but we should test how this will work for Firefox or make a "selective" PR to add that piece on a "browser-dependent" way until it is fixed upstream.

[2016-11-09 20:49] j3mdamas commented on #188
@damianavila, is this on 4.0.0b1 that is on conda?

[2016-11-10 06:55] akaihola commented on #166
@kevin-keraudren, I didn't have to modify CSS after I applied a patch to RISE (see push above your comment).

[2016-11-10 18:19] damianavila commented on #188
Yep, it should be there...

[2016-11-10 18:20] damianavila commented on #166
Can you link the patch? Thanks!

[2016-11-10 21:51] j3mdamas commented on #188
Yes, it is. Sorry. It's working great for text and image output! Thanks.

Still having problems with webgl out from [nglview](https://github.com/arose/nglview)

[2016-11-11 06:23] akaihola commented on #166
I think GitHub already linked it for us above, but here you go, the commit is 1bb0261f145c0dca85e2a7dcb5c932ca7ccef0d1. I made pull request #232 for it.

[2016-11-11 21:10] jankoslavic commented on #175
Hi! I have the same issue: the markdown is too large compared to the code.
The above answer is from 2015. Is there today and another way to change the size of markdown vs code (or the other way around)?

[2016-11-16 19:53] damianavila commented on #175
Same as before...

[2016-11-16 19:55] damianavila commented on #166
Thanks for the reference... I missed somehow.

[2016-11-16 19:56] damianavila commented on #188
Can you open another issue for that... so we know the issue and others can think/comment about that. Thx

[2016-11-23 10:06] Stibbons commented on #230
Work on JupyterHub if you install on the system jupyter (or the one jupyterhub uses to start each jupyter instance). Need to restart the user's server to be taken into account.

[2016-11-23 12:39] damianavila commented on #230
Thanks for the notes @Stibbons!

[2016-12-01 14:44] Stibbons commented on #32
I would recommend simply a new 'Slide Type', named 'Output only', that would only apply a CSS style to hide the input code in the presentation. Same, I would add a 'Input only' slide type.

[2016-12-17 14:08] r03ert0 opened #235 "Using with mybinder.org?"
mybinder.org allows one to install jupyter notebook's requirements online, but only using pip install. Is there a way of using RISE together with binder?

[2016-12-17 15:05] mjbright commented on #235
pip install is only one method.

In fact mybinder will first look for a Docker file, otherwise a pip
requirements.txt or finally a Conda yml file.

I included RISE in a presentation I did at EuroPython using this Dockerfile
<https://github.com/mjbright/jupyter-for-everything-else/blob/master/Dockerfile>,
I wanted to be able to run my presentation online in case something
happened to my PC ....

On

[2016-12-17 16:57] r03ert0 commented on #235
awesome! thanks!

[2016-12-17 16:57] #235 closed

[2016-12-19 15:32] damianavila commented on #235
FYI, there is a pip package if you don't want to install from source... just check the readme activation step after installing with pip: https://github.com/damianavila/RISE#installation

[2017-01-04 18:48] abingham opened #236 "Hide magic lines in slides?"
Would it be possible (or is there already a way) to hide magics in slides? For example, I'm using `ipytest` to demo pytest in a notebook slideshow, and all of my demo slides look like:
[code]

The magic has to be in each cell to function, but it also clutters up the slides and feels unnecessary. So I'd like it if there were some way to hide the magic slides.

Perhaps there's some CSS trick I could

[2017-01-05 06:48] bayeswhu commented on #230
I have the same problem without jupyterhub.

I installed anaconda and face the [issue](https://github.com/jupyter/notebook/issues/1716). Following @damianavila 's suggestion, I use `conda remove nb_conda` to solve it.

Then I find the above issue fixed but I could not see the nbextension tab, so I re-install Jupyter Nbextensions Configurator by using `conda install -c conda-forge jupyter_nbextensi

[2017-01-05 15:30] damianavila commented on #236
Since the magic is in the cell content, I don't see an easy way to hide it.
We could eventually think in some kind of workaround but not sure how valuable would be this "hide" option for others, so a native solution would have a low priority, I guess...

[2017-01-13 00:04] joaquinvanschoren commented on #129
For anyone else still struggling with this, here's a workaround. Just put this into any cell of your notebook and run it.
[code]

[2017-01-18 08:08] dmardanbeigi commented on #185
I have edited the main.js file which was inside /usr/local/lib/python2.7/site-packages/rise/static and have also added the code below into my notebook:
`from traitlets.config.manager import BaseJSONConfigManager
path = "/Users/XXX/.jupyter/nbconfig"
cm = BaseJSONConfigManager(config_dir=path)
cm.update('livereveal', {
              'scroll': True,'width': 1024,
              'height': 768,})`

How

[2017-01-19 16:20] damianavila commented on #185
So it works in firefox and not in the others? Can you provide the chrome version number?

[2017-01-19 21:07] yuyichao opened #237 "build issue on python 3.6"
DISCLAIMER: I'm not really sure what's recommended on python 3.6.

The build script currently fail on python 3.6 with a `C` (fallback) locale because it seems that the default decoder is `ascii` instead of `utf8` in that case and the read of the utf8 encoded README in the build script error because of it. Since the encoding is known to be utf8, does it make sense to read with that encoding directl

[2017-01-20 19:43] damianavila commented on #237
Not sure as well...

Maybe? Not sure how would be a reliable solution for this issue...

[2017-01-24 17:33] dmardanbeigi commented on #185
chrome Version 55.0.2883.95 (64-bit) and safari Version 10.0.2 (12602.3.12.0.1) on mac. Non of them work. I haven't tried firefox

[2017-01-25 15:29] damianavila commented on #185
OK, I will try to check those version, thanks for the update!

[2017-02-03 19:35] jhrsn commented on #129
The above in combination with setting .rise-enabled to something wide (1400-1500px) allows more of a wide code box to be used, but there is still excess masking of the code text on the right such that the  inner padding of the right side of the code cell is still a good bit too wide.

[2017-02-06 20:25] protik77 opened #238 "conda install error"
Hi,

I am getting the following error while installing RISE using conda.

[code]

Any idea about how to resolve this?

Thanks.

[2017-02-06 22:02] protik77 commented on #238
Actually I misspelled the channel name. After correcting that everything worked perfectly.

[2017-02-06 22:02] #238 closed

[2017-02-14 03:28] jankoslavic opened #239 "conda install on python 3.6"
Hi! I use this great package for class presentations. However, I just saw that conda install fails (pip install works) for python 3.6.:

UnsatisfiableError: The following specifications were found to be in conflict:
  - python 3.6*

(I have installed Anaconda 4.3.0)

[2017-02-14 17:25] ThomasA opened #240 "Slideshow invisible"
I have just installed the latest RISE in a freshly installed Anaconda Python environment. Installation seems to work well, the slideshow button shows up in notebooks, and I can start the slideshow, but: the slideshow is invisible. Content is visible during transitions, but as soon as the transition has stopped, the slide turns blank. Hovering over the page with the mouse reveals that the slide tex

[2017-02-24 10:46] parmentelat opened #241 "Losing selected cell upon return from reveal"
Hi

Not quite sure if I'm doing everything right but what I can see on my setup currently is:
* I have "start_slideshow_at": "selected"
* having a selected cell, let's say in the middle of my slideshow notebook
* I turn on reveal with alt-r: it starts right where I expect it to
* checking a bit around this position
* then pressing Alt-r again to go back to 'normal' mode

And I always end up at thi

[2017-03-03 17:25] julionaojulho commented on #32
Hi, do we have a solution for this issue?
Right now I am using @akloster approach, but it doesn't hide the inputs when I apply the nbconvert --to slides.
Is there any solution for that?

[2017-03-06 18:59] rabernat commented on #175
Just wanted to ping here to mention that I too would really like the option to set the font-size from via the livereveal options dict, i.e.
[code]

I would be happy to try out a PR if you could give me some guidance on how to begin!

[2017-03-08 22:48] damianavila commented on #175
Sure... you probably need to make the font-side a variable inside main.js, right now is defined at the css level... and apply the css from the js side... and link that variable to the ConfigManager as with the other variables you can change from the metadata. Hopefully it makes sense...

[2017-03-08 22:51] damianavila commented on #32
If you are using nbconvert, you just need a customized template getting rid of the inputs... there are several examples on the web to do that... you have here http://www.damian.oquanta.info/posts/hide-the-input-cells-from-your-ipython-slides.html something like that (beware that thing are outdated... it is just to give you an idea @julionaojulho ;-)

[2017-03-08 22:52] damianavila commented on #129
Thanks for the update and the info!

[2017-03-08 23:03] damianavila commented on #239
I need to build the 3.6 packages.

[2017-03-08 23:05] damianavila commented on #240
Sorry for the delay.

What is the output of `jupyter nbextension list`?

[2017-03-08 23:11] damianavila commented on #241
Well, if you have that config option, that should do the trick... where are you putting the config? metadata or config file? Can you paste the content of the config file, see here: https://github.com/damianavila/RISE#configure-your-own-options for more details

[2017-03-09 09:00] parmentelat commented on #241
@damianavila : I do the configuration through the notebook metadata, where it reads

[code]

Again the issue I have is **not** when the slideshow **starts**, it is when I go back to the regular notebook view/mode for editing. I do see the slide show starting at the selected cell.

BTW: going back and forth between regular notebook and reveal is something that I typically need to do each time the g

[2017-03-09 12:24] jneines commented on #198
I'm looking at the exact same thing currently and would like to reactivate this discussion a bit. My current approach was to use the different HTML heading tags for this. Markdown # mapping to h1, ## mapping to h2 and so forth. I created a custom.css in ~/.jupyter/custom/ for this ad tried to overwrite the active css settings for these tags with a fixed location to force rendering at the top of th

[2017-03-09 12:33] jneines commented on #173
I would like to give a +1 on this. I'm looking into using RISE as another option for company level presentations and therefore need to follow corporate identity design. It's important to be able to place logos, Author, company and date at a specific location visible throughout the presentation. Furthermore a section title should be visible at the top of the screen as well. This definitly sounds li